@model IEnumerable<Admin.Models.BOM_List>

@{
    ViewBag.Title = "BOM_List";
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BOM_No)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BOM_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SP_code)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BOM_No)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BOM_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SP_code)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) | @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
