@model Admin.Models.BOMFields
@{

}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/Content/bootstrap-4.0.0.min.css">
    <script src="~/Scripts/bootstrap-4.0.0.bundle.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" href="~/Content/Purchase.css" />
    <style>
        @*table.scroll {
            border-spacing: 0;
            border: 2px solid black;
            width: auto;
        }

            table.scroll tbody,
            table.scroll thead {
                display: block;
            }

        thead tr th {
            height: 20px;
            line-height: 20px;
        }

        table.scroll tbody {
            height: 200px;
            overflow-y: auto;
            overflow-x: auto;
        }

        tbody {
            border-top: 2px solid black;
        }

            tbody td, thead th {
                border-right: 1px solid black;
            }

                tbody td:last-child, thead th:last-child {
                    border-right: none;
                }*@
        #list:hover {
            background-color: aliceblue;
        }

        #add_pd {
            width: 500px;
        }

        #add_submit {
            width: 30%;
        }
    </style>
</head>
<body onload="freeze(); hover();">
    <div class="container-fluid">
        <h5 style="text-align: center; font-weight: bold;"><u>BILL OF MATERIALS</u></h5>
        <div id="ui-view" data-select2-id="ui-view">
            <div>
                <div class="card">
                    <div class="card-header">
                        <p class="text-sm">
                            BOM No : @Html.EditorFor(model => model.BOM_No, new { htmlAttributes = new { @style = "width:15%;margin-left:1.8%;margin-right:3%", @readonly = "readonly" } }) BOM Date : @Html.TextBoxFor(x => x.BOM_Date, "{0:yyyy-MM-dd}", new { @type = "date", @style = "width:10%;margin-left:1%;" }) &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                            @Html.DropDownListFor(m => m.BOM_DD, ViewBag.BOM as SelectList) &nbsp; &nbsp;  <button class="btn btn-sm btn-secondary" id="Import" onclick="Import_BOM()">Import</button>
                        </p>
                        <p class="text-sm">SP Part No : @Html.EditorFor(model => model.SP_Part_No, new { htmlAttributes = new { @style = "width:15%;margin-left:1%;margin-right:3%", @readonly = "readonly" } }) <button class="btn btn-sm btn-secondary" id="insert" onclick="SP_part_no();">Insert</button></p> <p id="value" class="text-sm" style="width:50%"></p>
                    </div>
                    <div class="card-body table-responsive">
                        <div class="table-responsive">
                            <p class="text-sm">
                                Part_No:@Html.EditorFor(model => model.Part_No, new { htmlAttributes = new { @style = "width:15%;margin-left:1%;margin-right:1%" } })<i class="fa fa-search" id="myBtn" style="margin-right:1%"></i> <i class="fa fa-plus" id="addproduct" style="margin-right:3%"></i> Quantity : @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { required = "required", style = "margin-left:1%;width:15%;margin-right:3%;" } }) <button class="btn btn-sm btn-secondary" id="add">Add</button><button class="btn btn-sm btn-secondary" onclick="ToAdd()" id="add_edit" style="display:none;">Add</button>
                            </p>
                            <p id="value1" class="text-sm" style="width:50%"></p>
                            <button class="btn btn-sm btn-secondary float-right" id="Submit" style="width: 7%; margin-left: 2%; margin-top: 10px; margin-bottom: 10px;">Submit</button>
                            <a id="ToHide" class="btn btn-sm btn-secondary float-right mr-1 d-print-none" style="margin-top: 10px; margin-bottom: 10px;" href="#" onclick="javascript:window.print();" data-ng-style="true"><i class="fa fa-print"></i> Print</a>
                            <div id="myModal" class="modal">

                                <!-- Modal content -->
                                <div class="modal-content">
                                    <p class="text-sm" style="text-align:center;"> Are you sure, you want to delete ?</p>
                                    <p class="text-sm" style="text-align:center;"><button class="btn btn-sm btn-secondary" style="width:5%;" id="yes">Yes</button><a href="@Url.Action("BOM_List", "BOM")"> <button class="btn btn-sm btn-secondary" style="width:5%;">No</button> </a> </p>
                                    <p id="delete" style="text-align:center;"></p>
                                </div>
                            </div>
                            <div style="overflow-y: auto; border-bottom: 1px solid #cacccb; height: 550px;width:70%;">
                                <table id="selected_units" class="table text-sm font-weight-normal" style="margin-top:10px;">
                                    <thead>
                                        <tr>
                                            <th style="padding-right:95px">Part_No</th>
                                            <th style="padding-right:350px">Description</th>
                                            <th style="padding-right:100px">Quantity</th>
                                            <th style="padding-right: 35px">E/D</th>
                                            <th style="display:none;">SP_Part_No</th>
                                            <th style="display:none;">BOM_No</th>
                                            <th style="display:none;">BOM_Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{ int i = 0; }
                                        @foreach (System.Data.DataRow dr in ViewBag.Goods.Rows)
                                        {
                                            <tr id="@i" style="font-size:13px;">
                                                <td class="row-data">@dr["P_Part_No"].ToString()</td>
                                                <td class="row-data" style="width:550px;">@dr["P_Description"].ToString()</td>
                                                <td class="row-data text-sm-left" style="width:50px;">@dr["Quantity"].ToString()</td>
                                                <td class="row-data" style="margin-right:auto"><i class="fas fa-edit" onclick="Toshow()"></i> | <i class="fa fa-trash" onclick="del_row(this);"></i> </td>
                                                <td class="row-data" style="display:none;">@Html.DisplayFor(model => model.SP_Part_No)</td>
                                                <td class="row-data" style="display:none;">@Html.DisplayFor(model => model.BOM_No)</td>
                                                <td class="row-data" style="display:none;">@Html.DisplayFor(model => model.BOM_Date)</td>
                                            </tr>
                                            i++;
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                @*<p id="voucher" style="background-color:yellow;width:20%"></p>*@
                <p id="Enter_Inv_No"></p>
                @*<p><a href="@Url.Action("BOM_List", "BOM")"> <button class="btn btn-sm btn-secondary" style="width:8%;" id="Edit">Edit</button> </a> </p>*@
            </div>
        </div>
    </div>
</body>
</html>
<script>
    var last_row = document.getElementById("selected_units").rows.length;
    var row_id = 0;

    $('#yes').click(function (e) {
        var Inv_No = $('#Ref_No').val();
        var part = document.getElementById("selected_units").tBodies[0].rows.length;
        
        var myRows = [];
        var headersText = [];
        var $headers = $("#selected_units th");
        var $rows = $("#selected_units tbody tr").each(function (index) {
            $cells = $(this).find("td");
            myRows[index] = {};
            $cells.each(function (cellIndex) {
                if (headersText[cellIndex] === undefined) {
                    headersText[cellIndex] = $($headers[cellIndex]).text();
                }
                myRows[index][headersText[cellIndex]] = $(this).text();
            });
        });

        var myObj = {
            "myrows": myRows
        };
        $.ajax({
            url: '/BOM/Remove_BOM',
            data: JSON.stringify(myRows),
            type: 'POST',
            contentType: "application/json; charset=utf - 8",
            dataType: 'json',
            success: function (result) {
                var del = '<p style="color: red;">BOM No : ' + result[0].BOM_No + ' is Removed Successfully !!!</p>';
                document.getElementById("delete").innerHTML = del;
                setTimeout(function () {
                    window.location.href = "@Url.Action("BOM_List", "BOM")";
                }, 2000);
            }
        });
    });

    var modal = document.getElementById("myModal");

    function hover() {
        modal.style.display = "block";
    }

    function freeze() {
        $('#BOM_No').prop('disabled', true);
        $('#BOM_Date').prop('disabled', true);
        $('#SP_Part_No').prop('disabled', true);
    }
</script>


