@model Admin.Models.Workorder
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/Content/bootstrap-4.0.0.min.css">
    <script src="~/Scripts/bootstrap-4.0.0.bundle.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" href="~/Content/Purchase.css" />
    <style>
        td:hover {
            background-color: aliceblue;
        }

        #add_pd {
            width: 500px;
        }

        #add_submit {
            width: 30%;
        }

        .highlight {
            background-color: yellow;
        }
        .modal-content {
            width: 60%;
        }
    </style>
</head>
<body onload="addStock();">
    <h5 style="text-align: center; font-weight: bold;"><u>PURCHASE REQUIREMENT PLANNING</u></h5>
    <div style="margin-top: 15px; text-align: center;">
        <p class="text">
            Work Order No : @Html.EditorFor(m => m.WO_No, new { htmlAttributes = new { style = "width:11%;", @readonly = "readonly" } })
            &nbsp; Work Order Date : @Html.TextBoxFor(x => x.WO_Date, "{0:yyyy-MM-dd}", new { @type = "date", @style = "width:8%;" })
            &nbsp; Product : &nbsp; @Html.DisplayFor(m => m.Product)
            &nbsp; BOM_No : @Html.EditorFor(m => m.BOM_No, new { htmlAttributes = new { style = "width:11%;", @readonly = "readonly" } })
            Process : &nbsp; @Html.DropDownListFor(m => m.Process, ViewBag.Process as SelectList)
            &nbsp;Manufacturer &nbsp; : &nbsp; @Html.DropDownListFor(m => m.Mfr_option, ViewBag.MfrOpt as SelectList, new { @onchange = "DD_Change(this.value);", @value = "00134" })
            &nbsp; @Html.DisplayFor(m => m.Mfr)
            &nbsp; &nbsp; &nbsp; &nbsp; Quantity : &nbsp; @Html.EditorFor(m => m.Quantity, new { htmlAttributes = new { @readonly = "readonly" } })
            @*&nbsp; &nbsp; &nbsp; &nbsp; Note &nbsp; : &nbsp; @Html.TextAreaFor(m => m.Note, new { @style = "color:black; width:200px; height:50px;", @placeholder = "Enter your text here", @class = " uppercase" })
                Part No : &nbsp; @Html.EditorFor(model => model.PartNxo, new { htmlAttributes = new { @style = "width:14%;margin-right:1%;", @class = " uppercase" } })<i class="fa fa-search" id="myBtn" style="margin-right:1%"></i> <i class="fa fa-plus" id="addproduct" style="margin-right:8%"></i>
                <button class="btn btn-sm btn-secondary" id="Insert">Insert</button>*@
        </p>
        <p id="value" style="margin-left:2%;font-size:13px;"></p>
        <p id="Enter_Inv_No" style="font-weight:bold;text-align:center;"></p>
    </div>
    <div id="myModal" class="modal">
        <div class="modal-content">
            <button class="btn btn-sm btn-secondary" style="width:75px;" id="myBtn">Close</button>
            <br />
            <div style=" overflow-y: auto; border-bottom: 1px solid #cacccb; height: 400px;">
                <table class="table text-sm" id="pm_list">
                    <tbody>
                        <tr>
                            <th>Part No</th>
                            <th>Supplier/Mfr</th>
                            <th>PO No</th>
                            <th>PO Date</th>    
                            <th>PV No</th>
                            <th>PV Date</th>
                            <th>LeadTime (in days)</th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div style="overflow-y: auto; border-bottom: 1px solid #cacccb; height: 550px;">
        <table id="selected_units" class="table text-sm font-weight-normal" style="margin-top:10px;" >
            <thead>
                <tr>
                    <th style="padding-right:100px">PartNo</th>
                    <th style="padding-right:100px">Description</th>
                    <th style="padding-right:100px">Total_Quantity</th>
                    <th style="padding-right:100px">Current_Stock</th>
                    <th style="padding-right:100px">Required_Stock</th>
                    <th style="display: none;">WO_No</th>
                    <th style="display: none;">WO_Date</th>
                    <th style="display: none;">Process</th>
                    <th style="display: none;">Mfr_option</th>
                    <th style="display: none;">Mfr</th>
                    <th style="display: none;">Note</th>
                    <th style="display: none;">BOM_No</th>
                </tr>
            </thead>
            <tbody>
                @{ int i = 0; }
                @foreach (System.Data.DataRow dr in ViewBag.BOM.Rows)
                {
                    <tr id="@i" style="font-size:13px;" onclick="List_to_View()">
                        <td class="row-data">@dr["P_Part_No"].ToString()</td>
                        <td class="row-data text-sm-left">@dr["P_Description"].ToString()</td>
                        <td class="row-data">@dr["Quantity"].ToString()</td>
                        <td class="row-data">@dr["P_Closing_Bal"].ToString()</td>
                        <td class="row-data"></td>
                        <td style="display:none;" id="_wo_no"></td>
                        <td style="display:none;" id="_wo_date"></td>
                        <td style="display:none;" id="_process"></td>
                        <td style="display:none;" id="_mfr_option"></td>
                        <td style="display:none;" id="_mfr"></td>
                        <td style="display:none;" id="_note"></td>
                        <td style="display:none;" id="_bom_no"></td>
                    </tr>
                    i++;
                }
            </tbody>
        </table>
    </div>
    @*<button class="btn btn-sm btn-secondary float-left" id="Submit" style="width:100px;margin-left:1.5%;margin-top:25px;">Submit</button>*@
</body>
</html>
<script>
    var table = document.getElementById("selected_units");
    var tbodyRowCount = table.tBodies[0].rows.length;
    function addStock() {
        var process = @ViewBag._Process;
        var mfr_opt = @ViewBag._Mfr_Option;
        document.getElementById("Process").value = process;
        document.getElementById("Mfr_option").value = mfr_opt;
        $('#Process').prop('disabled', true);
        $('#Mfr_option').prop('disabled', true);
        $('#WO_Date').prop('disabled', true);
        for (i = 0; i <= tbodyRowCount - 1; i++) {
            var data = document.getElementById(i).querySelectorAll(".row-data");
            var p_qty = parseInt(document.getElementById("selected_units").tBodies[0].rows[i].cells[2].innerHTML);
            var given_qty = parseInt(document.getElementById("Quantity").value);
            var tot_qty = p_qty * given_qty;
            var cur_qty = parseInt(document.getElementById("selected_units").tBodies[0].rows[i].cells[3].innerHTML);
            var req_qty = tot_qty - cur_qty;
            data[2].innerHTML = tot_qty;
            data[4].innerHTML = req_qty;
        }
    }
    function List_to_View() {
        var table = document.getElementById('selected_units');
        for (var i = 0; i < table.rows.length; i++) {
            table.rows[i].addEventListener('click', function () {
                var partno = this.cells[0].innerHTML;
                var model = new Object();
                model.Part_No = partno;
                $.ajax({
                    url: '/Price/Get_Partno_from_DB',
                    data: JSON.stringify({ name: model }),
                    type: 'POST',
                    contentType: 'application/json;',
                    dataType: 'json',
                    success: function (result) {
                        $("#pm_list").find("tr:not(:first)").remove();
                        for (var i = 0; i <= result.length - 1; i++) {
                            var newrow = '<tr id="list"><td>' + result[i].Part_No_TB + '</td><td>' + result[i].Supplier_TB + '</td><td>' + result[i].PO_No_TB + '</td><td>' + result[i].PO_Date_TB + '</td><td>' + result[i].PV_No_TB + '</td><td>' + result[i].PV_Date_TB + '</td><td>' + result[i].TimeSpan_TB + '</td></tr>';
                            $('#pm_list tr:last').after(newrow);
                        }
                    }
                });
            });
        }
        modal.style.display = "block";
    }
    var modal = document.getElementById("myModal");
    var btn = document.getElementById("myBtn");
    btn.onclick = function () {
        $("#pm_list").find("tr:not(:first)").remove();
        modal.style.display = "none";
    }
    window.onclick = function (event) {
        if (event.target == modal) {
            $("#pm_list").find("tr:not(:first)").remove();
            modal.style.display = "none";
        }
    }

</script>
