@model Admin.Models.New_Purchase
@{
    var models = ViewBag.PM;
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link rel="stylesheet" href="~/Content/Purchase.css" />
</head>
<body onload="total_cal();">
    <div class="container-fluid">
        <br />
        <div id="ui-view" data-select2-id="ui-view">
            <div>
                <div class="card">
                    <div class="card-header">
                        <p class="text-sm">
                            Voucher No:@Html.EditorFor(model => model.Voucher_No, new { htmlAttributes = new { @style = "width:20%;margin-left:1%;" } })    Voucher Date :  @Html.TextBoxFor(x => x.Voucher_Date, "{0:yyyy-MM-dd}", new { @type = "date", @style = "width:20%;margin-left:0.25%;" })
                        </p>
                        <p class="text-sm"> Invoice No:@Html.EditorFor(model => model.Invoice_No, new { htmlAttributes = new { @class = "uppercase", required = "required", style = "margin-left:2%;width:20%;", id = "Invoice_No" } })    Invoice Date :  @Html.TextBoxFor(x => x.Invoice_Date, "{0:yyyy-MM-dd}", new { @type = "date", @style = "width:20%;margin-left:1%;" })<a id="ToHide" class="btn btn-sm btn-secondary float-right mr-1 d-print-none" href="#" onclick="javascript:window.print();" data-ng-style="true"><i class="fa fa-print"></i> Print</a></p>
                        <p class="text-sm"> Supplier:@Html.DropDownListFor(model => model.Supplier, ViewBag.MfdList as SelectList, new { htmlAttributes = new { @style = "width:20%;margin-left:10%;" } })</p>
                    </div>

                    <div class="card-body">
                        <div class="table-responsive">
                            @Html.EditorFor(model => model.Part_No, new { htmlAttributes = new { @style = "width:20%; margin-top: 10px; margin-right: 10%;", @placeholder = "Part No" } })@*<i class="fa fa-search" id="myBtn" style="margin-right:5%"></i>*@<p id="value" style="width:50%"></p>@Html.DisplayFor(model => model.Part_No)
                            <div>
                                @Html.EditorFor(model => model.P_Qty, new { htmlAttributes = new { @style = "width:20%; margin-right: 10%;", @placeholder = "Quantity" } })
                                @Html.EditorFor(model => model.P_Rate, new { htmlAttributes = new { @style = "width:20%; margin-right: 10%;", @placeholder = "Price Per Unit" } })
                            </div>
                            <div></div>
                            <div>
                                @Html.EditorFor(model => model.P_Discount, new { htmlAttributes = new { @style = "width:20%; margin-top: 10px; margin-right: 10%;", @placeholder = "Discount" } })
                                @Html.EditorFor(model => model.P_Tax1, new { htmlAttributes = new { @style = "width:20%; margin-top: 10px; margin-right: 10%;", @placeholder = "Tax1" } })
                                @Html.EditorFor(model => model.P_Tax2, new { htmlAttributes = new { @style = "width:20%; margin-top: 10px; margin-right: 2%;", @placeholder = "Tax2" } })
                                <button href="#" class="btn btn-sm btn-secondary" id="Insert">Insert</button><button class="btn btn-sm btn-secondary" style="display: none; margin-top: 10px;" id="Add" onclick="ToAdd()">Add</button>
                            </div>
                            <table id="selected_units" class="text-sm font-weight-normal" style="margin-top:10px;">
                                <thead>
                                    <tr>
                                        <th style="padding-right:20px">Pcode</th>
                                        <th style="padding-right:50px">Part_No</th>
                                        <th style="padding-right:150px">Description</th>
                                        <th>Quantity</th>
                                        <th >Price</th>
                                        <th>SubTotal</th>
                                        <th>Dis %</th>
                                        <th>Dis Rs</th>
                                        <th>Tax %</th>
                                        <th>Tax Rs</th>
                                        <th>Tax %</th>
                                        <th>Tax Rs</th>
                                        <th>Total</th>
                                        <th style="padding-right: 30px">E/D</th>
                                        <th style="display:none;">Invoice_No</th>
                                        <th style="display: none;">Invoice_Date</th>
                                        <th style="display: none;">Voucher_No</th>
                                        <th style="display: none;">Voucher_Date</th>
                                        <th style="display: none;">supplier</th>
                                        <th style="display:none;">ILedger</th>
                                        <th style="display: none;">ALedger</th>
                                        <th style="display: none;">final_Qty</th>
                                        <th style="display: none;">final_Sub_Total</th>
                                        <th style="display: none;">final_Discount</th>
                                        <th style="display: none;">final_Tax1</th>
                                        <th style="display: none;">final_Tax2</th>
                                        <th style="display: none;">final_total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{ int i = 0; }
                                    @foreach (System.Data.DataRow dr in ViewBag.PL.Rows)
                                    {

                                        <tr id="@i">
                                            <td class="row-data">@dr["P_code"].ToString()</td>
                                            <td class="row-data">@dr["P_Part_No"].ToString()</td>
                                            <td class="row-data text-sm-left" >@dr["P_Description"].ToString()</td>
                                            <td class="row-data">@dr["Purchase_Qty"].ToString()</td>
                                            <td class="row-data">@dr["Purchase_Rate"].ToString()</td>
                                            <td class="row-data">
                                                @dr["Purchase_SubTotal"].ToString()
                                            </td>
                                            <td class="row-data">
                                                @dr["Discount(%)"].ToString()
                                            </td>
                                            <td class="row-data">
                                                @dr["Purchase_Discount"].ToString()
                                            </td>
                                            <td class="row-data">
                                                @dr["Tax1(%)"].ToString()
                                            </td>
                                            <td class="row-data">
                                                @dr["Purchase_Tax_1"].ToString()
                                            </td>
                                            <td class="row-data">
                                                @dr["Tax2(%)"].ToString()
                                            </td>
                                            <td class="row-data">
                                                @dr["Purchase_Tax_2"].ToString()
                                            </td>
                                            <td class="row-data">
                                                @dr["Purchase_Total"].ToString()
                                            </td>
                                            <td class="row-data">
                                                <i class="fas fa-edit" onclick="Toshow()"></i> | <i class="fa fa-trash" onclick="del_row(this);"></i>@*@Html.ActionLink("Edit", "Edit_Purchase_Row", new { P_code = dr["P_code"].ToString() })*@
                                                @*@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                                            </td>
                                            <td style="display:none;">
                                                @dr["Invoice_No"].ToString()
                                            </td>
                                            <td style="display:none;">
                                                @dr["Invoice_Date"].ToString()
                                            </td>
                                            <td style="display:none;">
                                                @dr["Voucher_No"].ToString()
                                            </td>
                                            <td style="display:none;">
                                                @dr["Voucher_Date"].ToString()
                                            </td>
                                            <td style="display:none;">
                                                @ViewBag.Mfr
                                            </td>
                                            <td style="display:none;">
                                                @ViewBag.ILedger
                                            </td>
                                            <td style="display:none;">
                                                @ViewBag.ALedger
                                            </td>
                                            <td style="display:none;" id="final_qty">
                                            </td>
                                            <td style="display:none;" id="final_SubTotal">
                                            </td>
                                            <td style="display:none;" id="final_Discount">
                                            </td>
                                            <td style="display:none;" id="final_Tax1">
                                            </td>
                                            <td style="display:none;" id="final_Tax2">
                                            </td>
                                            <td style="display:none;" id="final_Total">
                                            </td>
                                        </tr>
                                        i++;
                                    }
                                </tbody>
                            </table>
                            <div style="margin-rigt:5px;">
                                @Html.LabelFor(model => model.Quantity, new { htmlAttributes = new { id = "Qty_Label" } }) : <h6 id="Qty_display"></h6>
                                @*Discount(%) : @Html.EditorFor(model => model.Final_Discount_per, new { htmlAttributes = new { } })
                                Tax1(%) : @Html.EditorFor(model => model.Final_Tax1_per, new { htmlAttributes = new { } })
                                Tax2(%) : @Html.EditorFor(model => model.Final_Tax2_per, new { htmlAttributes = new { } })*@
                            </div>
                            <div class="float-right">
                                <div>
                                    @Html.LabelFor(model => model.Total, new { htmlAttributes = new { id = "total_Label" } }) : <h6 id="total_display"></h6>
                                </div>
                                <div>
                                    @Html.LabelFor(model => model.Final_Discount) : @Html.EditorFor(model => model.Final_Discount, new { htmlAttributes = new { @id = "Final_Discount" } })
                                </div>
                                <div>
                                    @Html.LabelFor(model => model.Final_Tax1) : @Html.EditorFor(model => model.Final_Tax1, new { htmlAttributes = new { @style = "margin-left:11%;", @id = "Final_Tax1" } })
                                </div>
                                <div>
                                    @Html.LabelFor(model => model.Final_Tax2) : @Html.EditorFor(model => model.Final_Tax2, new { htmlAttributes = new { @style = "margin-left:11%;", @id = "Final_Tax2" } })
                                </div>
                                <div>
                                    @Html.LabelFor(model => model.Final_Total, new { htmlAttributes = new { id = "final_total_Label" } }) : <h6 id="Final_Total" style="margin-left:11%;"></h6>
                                </div>
                            </div>
                            <p id="del"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p id="code" style="display:none;"></p>
        <p id="test"></p>
        <p id="Enter_Inv_No"></p>
        <button class="btn btn-sm btn-secondary" id="Submit" style="width:10%;margin-left:2%;">Submit</button>
        <pre id="json_op"></pre>
    </div>
</body>
</html>
<script>
    var qty = 0;
    var total = 0;
    var final_total = 0;
    var i = 1;
    var row_id = 0;
    var total_inc = 0;
    var code = "";
    var str = "Please Enter Valid Part No !!!";
    var last_row = document.getElementById("selected_units").rows.length;
    $('#Insert').click(function () {
        var d1 = $('#Part_No').val();
        var d2 = parseInt(document.getElementById("P_Qty").value);
        var d3 = $('#P_Rate').val();
        var d4 = $('#P_Discount').val();
        var d5 = $('#P_Tax1').val();
        var d6 = $('#P_Tax2').val();
        var mfr = $('#Supplier').val();
        var Voucher_No = $('#Voucher_No').val();
        var Voucher_Date = $('#Voucher_Date').val();
        var ILedger = 1;
        var ALedger = 2;

        var subtotal = d2 * d3;
        if (d4 == "") {
            var discount = 0;
        }
        else {
            var discount = (subtotal * d4) / 100;
            var discount_per = (discount / subtotal) * 100;
        }
        if (d5 == "") {
            var tax1 = 0;
        }
        else {
            var tax1 = (subtotal * d5) / 100;
            var tax1_per = (tax1 / subtotal) * 100;
        }
        if (d6 == "") {
            var tax2 = 0;
        }
        else {
            var tax2 = (subtotal * d6) / 100;
            var tax2_per = (tax2 / subtotal) * 100;
        }

        var Invoice_No = $('#Invoice_No').val();
        var Invoice_Date = $('#Invoice_Date').val();
        if (d1 == "" || d2 == "" || d3 == "") {
            document.getElementById("Qty_display").innerHTML = 0;
            document.getElementById("total_display").innerHTML = 0;
        }
        else {
            var Total = (subtotal - discount) + tax1 + tax2;
            @*document.getElementById("Qty_display").innerHTML = qty.toFixed(2);
            document.getElementById("total_display").innerHTML = total.toFixed(2);*@
        }
        var final_Qty = document.getElementById("Qty_display").innerHTML;
        var final_Total = document.getElementById("total_display").innerHTML;
        var descp_value = document.getElementById("value").innerHTML;
        var pcode = document.getElementById("code").innerHTML;
        if (d1 == "" || d2 == "" || d3 == "" || Invoice_No == "" || Invoice_Date == "") {
            return;
        }
        else {
            var l_row = last_row - 1;
            var newrow = '<tr id="' + l_row + '"><td class="row-data">' + code + '</td><td class="row-data">' + d1 + '</td><td class="row-data">' + descp_value + '</td><td class="row-data">' + d2 + '</td><td class="row-data">' + d3 + '</td><td class="row-data">' + subtotal.toFixed(2) + '</td><td class="row-data">' + discount_per + '</td><td class="row-data">' + discount + '</td><td class="row-data">' + tax1_per + '</td><td class="row-data">' + tax1 + '</td><td class="row-data">' + tax2_per + '</td><td class="row-data">' + tax2 + '</td><td class="row-data">' + Total.toFixed(2) + '</td><td class="row-data"><i class="fas fa-edit" onclick="Toshow()"></i> | <i class="fa fa-trash" onclick="del_row(this);"></i></td><td style="display:none;" class="row-data">' + Invoice_No + '</td><td style="display:none;" class="row-data">' + Invoice_Date + '</td><td style="display:none;" class="row-data">' + Voucher_No + '</td><td style="display:none;" class="row-data">' + Voucher_Date + '</td><td style="display:none;" class="row-data">' + mfr + '</td><td style="display:none;" class="row-data">' + ILedger + '</td><td style="display:none;" class="row-data">' + ALedger + '</td><td style="display:none;" class="row-data">' + final_Qty + '</td><td style="display:none;" class="row-data" id="final_qty"></td><td style="display:none;" class="row-data" id="final_SubTotal"></td><td style="display:none;" class="row-data" id="final_Discount"></td><td style="display:none;" class="row-data" id="final_Tax1"></td><td style="display:none;" class="row-data" id="final_Tax2"></td><td id="final_Total" style="display:none;" class="row-data"></td></tr>';
            $('#selected_units tr:last').after(newrow);
        }
        formClear();
        total_cal();
    });

    function formClear() {
        $("#Part_No").val("");
        $("#P_Qty").val("");
        $("#P_Rate").val("");
        $("#P_Discount").val("");
        $("#P_Tax1").val("");
        $("#P_Tax2").val("");
    }

    function final_calculation() {
        var sub_total = document.getElementById("total_display").innerHTML;
        var final_discount = $("#Final_Discount").val();
        var final_tax1 = $("#Final_Tax1").val();
        var final_tax2 = $("#Final_Tax2").val();

        if (final_discount == "") {
            var discount_val = 0;
        }
        else {
            var discount_val = (sub_total * final_discount) / 100;
        }
        if (final_tax1 == "") {
            var tax1_val = 0;
        }
        else {
            var tax1_val = (sub_total * final_tax1) / 100;
        }
        if (final_tax2 == "") {
            var tax2_val = 0;
        }
        else {
            var tax2_val = (sub_total * final_tax2) / 100;
        }
        var Total = (sub_total - discount_val) + tax1_val + tax2_val;
        document.getElementById("Final_Total").innerHTML = Total.toFixed(2);
    }

    $('#Submit').click(function (e) {

        var Inv_No = $('#Invoice_No').val();
        if (Inv_No == "") {
            document.getElementById("Enter_Inv_No").innerHTML = "Enter the Invoice No !!!";
            return;
        }
        else {
            var f1 = document.getElementById("Qty_display").innerHTML;
            var f2 = document.getElementById("total_display").innerHTML;
            var f3 = document.getElementById("Final_Discount").value;
            var f4 = document.getElementById("Final_Tax1").value;
            var f5 = document.getElementById("Final_Tax2").value;
            var f6 = document.getElementById("Final_Total").innerHTML;
            document.getElementById("final_qty").innerHTML = f1;
            document.getElementById("final_SubTotal").innerHTML = f2;
            document.getElementById("final_Discount").innerHTML = f3;
            document.getElementById("final_Tax1").innerHTML = f4;
            document.getElementById("final_Tax2").innerHTML = f5;
            document.getElementById("final_Total").innerHTML = f6;
            var myRows = [];
            var headersText = [];
            var $headers = $("th");
            var $rows = $("tbody tr").each(function (index) {
                $cells = $(this).find("td");
                myRows[index] = {};

                $cells.each(function (cellIndex) {
                    if (headersText[cellIndex] === undefined) {
                        headersText[cellIndex] = $($headers[cellIndex]).text();
                    }
                    myRows[index][headersText[cellIndex]] = $(this).text();
                });
            });

            var myObj = {
                "myrows": myRows
            };
            $.ajax({
                url: '/NewPurchase/Edited_Table_Data',
                data: JSON.stringify(myRows, undefined, 2),
                type: 'POST',
                contentType: 'application/json;',
                dataType: 'json',
                success: function (result) {
                    //  alert(result.ItemList[0].Str);
                }
            });
            @*document.getElementById("json_op").innerHTML = JSON.stringify(myRows, undefined, 2);*@
            var str = "Submitted Successfully !!!";
            document.getElementById("Enter_Inv_No").innerHTML = str;
        }
    });

    function del_row(node) {
        r = node.parentNode.parentNode;
        r.parentNode.removeChild(r);
        $("#Part_No").val("");
        $("#P_Qty").val("");
        $("#P_Rate").val("");
        $("#P_Discount").val("");
        $("#P_Tax1").val("");
        $("#P_Tax2").val("");
        var table = document.getElementById("selected_units");
        var tbodyRowCount = table.tBodies[0].rows.length;
        var total_from_db = @ViewBag.Final_Total;
        var discount_from_db = @ViewBag.Final_Discount;
        var tax1_from_db = @ViewBag.Final_Tax1;
        var tax2_from_db = @ViewBag.Final_Tax2;
        var T_qty = 0;
        var T_subtotal = 0;
        for (i = 0; i < tbodyRowCount; i++) {
            var data_qty = document.getElementById("selected_units").tBodies[0].rows[i].cells[3].innerHTML;
            var data_total = document.getElementById("selected_units").tBodies[0].rows[i].cells[12].innerHTML;
            var p_qty = data_qty;
            var p_total = data_total;
            T_qty = T_qty + parseFloat(p_qty);
            T_subtotal = T_subtotal + parseFloat(p_total);

            @*var p_subtotal = document.getElementById("selected_units").tBodies[0].rows[i].cells[5].innerHTML;;
            var p_discount = document.getElementById("selected_units").tBodies[0].rows[i].cells[7].innerHTML;;
            var p_tax1 = document.getElementById("selected_units").tBodies[0].rows[i].cells[9].innerHTML;;
            var p_tax2 = document.getElementById("selected_units").tBodies[0].rows[i].cells[11].innerHTML;;

            var discount = (p_discount / p_subtotal) * 100;
            var tax1 = (p_tax1 / p_subtotal) * 100;
            var tax2 = (p_tax2 / p_subtotal) * 100;

            var discount_l = Math.round(discount, 1);
            var tax1_l = Math.round(tax1, 1);
            var tax2_l = Math.round(tax2, 1);

            data[6].innerHTML = discount_l;
            data[8].innerHTML = tax1_l;
            data[10].innerHTML = tax2_l;*@
        }

        document.getElementById("total_display").innerHTML = T_subtotal.toFixed(2);
        document.getElementById("Qty_display").innerHTML = T_qty.toFixed(2);

        var final_discount = $("#Final_Discount").val();
        var final_tax1 = $("#Final_Tax1").val();
        var final_tax2 = $("#Final_Tax2").val();

        if (total_inc == 0) {
            document.getElementById("Final_Total").innerHTML = total_from_db.toFixed(2);
            document.getElementById("Final_Discount").value = discount_from_db.toFixed(2);
            document.getElementById("Final_Tax1").value = tax1_from_db.toFixed(2);
            document.getElementById("Final_Tax2").value = tax2_from_db.toFixed(2);
            total_inc++;
        }
        else {
            if (final_discount == "") {
                var discount_val = 0;
            }
            else {
                var discount_val = (T_subtotal * final_discount) / 100;
            }
            if (final_tax1 == "") {
                var tax1_val = 0;
            }
            else {
                var tax1_val = (T_subtotal * final_tax1) / 100;
            }
            if (final_tax2 == "") {
                var tax2_val = 0;
            }
            else {
                var tax2_val = (T_subtotal * final_tax2) / 100;
            }
            var Total = (T_subtotal - discount_val) + tax1_val + tax2_val;
            document.getElementById("Final_Total").innerHTML = Total.toFixed(2);
            document.getElementById("Final_Discount").value = discount_val.toFixed(2);
            document.getElementById("Final_Tax1").value = tax1_val.toFixed(2);
            document.getElementById("Final_Tax2").value = tax2_val.toFixed(2);
        }
    }
   
    document.addEventListener('keydown', function (event) {
        if (event.keyCode === 9) {

            var model = new Object();
            model.Part_to_Descp = document.getElementById("Part_No").value;

            jQuery.ajax({
            type: "POST",
            url: "@Url.Action("Partno_to_Descp")",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ name: model }),
                success: function (data) {
                    document.getElementById("value").innerHTML = data[0];
                    code = data[1];
                    const button = document.getElementById("Insert");
                    if (data[1] == "") {
                        button.disabled = true;
                    }
                    else {
                        button.disabled = false;
                    }
            },
            failure: function (errMsg) {
                alert(errMsg);
            }
            });
        }
    });

    function field_entry() {
        var Voucher_No = document.querySelector('input[name="Voucher_No"]');
        var Voucher_Date = document.querySelector('input[name="Voucher_Date"]');
        var Invoice_No = document.querySelector('input[name="Invoice_No"]');
        var Invoice_Date = document.querySelector('input[name="Invoice_Date"]');

        var Ttl = document.getElementById("Final_Total").innerHTML;
        var value = @ViewBag.Final_Total
            if (Ttl == "") {
                document.getElementById("Final_Total").innerHTML = value.toFixed(2);
        }

        @*var a = @ViewBag.v_no;
        var b = @ViewBag.v_date;
        var c = @ViewBag.inv_no;
        var d = @ViewBag.inv_date;

        Voucher_No.value = a;
        Voucher_Date.value = b;
        Invoice_No.value = c;
        Invoice_Date.value = d;*@
    }

    function Toshow() {
        var rowId =
            event.target.parentNode.parentNode.id;
        row_id = rowId;
        var data =
            document.getElementById(rowId).querySelectorAll(".row-data");

        var part_no = data[0].innerHTML;
        var p_qty = data[3].innerHTML;
        var p_rate = data[4].innerHTML;
        var p_subtotal = data[5].innerHTML;
        var p_discount = data[7].innerHTML;
        var p_tax1 = data[9].innerHTML;
        var p_tax2 = data[11].innerHTML;

        var discount = (p_discount / p_subtotal) * 100;
        var tax1 = (p_tax1 / p_subtotal) * 100;
        var tax2 = (p_tax2 / p_subtotal) * 100;

        var discount_l = Math.round(discount,1);
        var tax1_l = Math.round(tax1,1);
        var tax2_l = Math.round(tax2,1);

        document.getElementById("Part_No").value = part_no;
        document.getElementById("P_Qty").value = p_qty;
        document.getElementById("P_Rate").value = p_rate;
        document.getElementById("P_Discount").value = discount_l;
        document.getElementById("P_Tax1").value = tax1;
        document.getElementById("P_Tax2").value = tax2;

        document.getElementById("Insert").style.display = "none";
        document.getElementById("Add").style.display = "block";
    }

    function ToAdd() {
        document.getElementById("Insert").style.display = "block";
        document.getElementById("Add").style.display = "none";

        var rowId = row_id;
        var data =
            document.getElementById(rowId).querySelectorAll(".row-data");

        var part_no = document.getElementById("Part_No").value;
        var p_qty = document.getElementById("P_Qty").value;
        var p_rate = document.getElementById("P_Rate").value;
        var p_discount = document.getElementById("P_Discount").value;
        var p_tax1 = document.getElementById("P_Tax1").value;
        var p_tax2 = document.getElementById("P_Tax2").value;

        var subtotal = p_qty * p_rate;
        var discount_l = (subtotal * p_discount) / 100;
        var tax1_l = (subtotal * p_tax1) / 100;
        var tax2_l = (subtotal * p_tax2) / 100;
        var total = (subtotal - discount_l) + tax1_l + tax2_l;

        data[0].innerHTML = part_no;
        data[3].innerHTML = p_qty;
        data[4].innerHTML = p_rate;
        data[5].innerHTML = subtotal;
        data[7].innerHTML = discount_l;
        data[9].innerHTML = tax1_l;
        data[11].innerHTML = tax2_l;
        data[12].innerHTML = total;

        total_cal();
    }

    function total_cal() {
        $("#Part_No").val("");
        $("#P_Qty").val("");
        $("#P_Rate").val("");
        $("#P_Discount").val("");
        $("#P_Tax1").val("");
        $("#P_Tax2").val("");
        var table = document.getElementById("selected_units");
        var tbodyRowCount = table.tBodies[0].rows.length;
        var total_from_db = @ViewBag.Final_Total;
        var discount_from_db = @ViewBag.Final_Discount;
        var tax1_from_db = @ViewBag.Final_Tax1;
        var tax2_from_db = @ViewBag.Final_Tax2;
        var T_qty = 0;
        var T_subtotal = 0;
        for (i = 0; i < tbodyRowCount; i++) {
            var p_qty = document.getElementById("selected_units").tBodies[0].rows[i].cells[3].innerHTML;
            var p_total = document.getElementById("selected_units").tBodies[0].rows[i].cells[12].innerHTML;
            T_qty = T_qty + parseFloat(p_qty);
            T_subtotal = T_subtotal + parseFloat(p_total);

            var p_subtotal = document.getElementById("selected_units").tBodies[0].rows[i].cells[5].innerHTML;
            var p_discount = document.getElementById("selected_units").tBodies[0].rows[i].cells[7].innerHTML;
            var p_tax1 = document.getElementById("selected_units").tBodies[0].rows[i].cells[9].innerHTML;
            var p_tax2 = document.getElementById("selected_units").tBodies[0].rows[i].cells[11].innerHTML;

            var discount = (p_discount / p_subtotal) * 100;
            var tax1 = (p_tax1 / p_subtotal) * 100;
            var tax2 = (p_tax2 / p_subtotal) * 100;

            var discount_l = Math.round(discount, 1);
            var tax1_l = Math.round(tax1, 1);
            var tax2_l = Math.round(tax2, 1);

            document.getElementById("selected_units").tBodies[0].rows[i].cells[6].innerHTML = discount_l;
            document.getElementById("selected_units").tBodies[0].rows[i].cells[8].innerHTML = tax1_l;
            document.getElementById("selected_units").tBodies[0].rows[i].cells[10].innerHTML = tax2_l;
        }

        document.getElementById("total_display").innerHTML = T_subtotal.toFixed(2);
        document.getElementById("Qty_display").innerHTML = T_qty;

        var final_discount = $("#Final_Discount").val();
        var final_tax1 = $("#Final_Tax1").val();
        var final_tax2 = $("#Final_Tax2").val();

        if (total_inc == 0) {
            document.getElementById("Final_Total").innerHTML = total_from_db.toFixed(2);
            document.getElementById("Final_Discount").value = discount_from_db.toFixed(2);
            document.getElementById("Final_Tax1").value = tax1_from_db.toFixed(2);
            document.getElementById("Final_Tax2").value = tax2_from_db.toFixed(2);
            total_inc++;
        }
        else {
            if (final_discount == "") {
                var discount_val = 0;
            }
            else {
                var discount_val = (T_subtotal * final_discount) / 100;
            }
            if (final_tax1 == "") {
                var tax1_val = 0;
            }
            else {
                var tax1_val = (T_subtotal * final_tax1) / 100;
            }
            if (final_tax2 == "") {
                var tax2_val = 0;
            }
            else {
                var tax2_val = (T_subtotal * final_tax2) / 100;
            }
            var Total = (T_subtotal - discount_val) + tax1_val + tax2_val;
            document.getElementById("Final_Total").innerHTML = Total.toFixed(2);
            document.getElementById("Final_Discount").value = discount_val.toFixed(2);
            document.getElementById("Final_Tax1").value = tax1_val.toFixed(2);
            document.getElementById("Final_Tax2").value = tax2_val.toFixed(2);
        }

    }
</script>
