@model Admin.Models.GoodsRI
@{
  
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link rel="stylesheet" href="~/Content/Purchase.css" />
    <style>
        table.scroll {
            border-spacing: 0;
            border: 2px solid black;
            width: auto;
        }

            table.scroll tbody,
            table.scroll thead {
                display: block;
            }

        thead tr th {
            height: 20px;
            line-height: 20px;
        }

        table.scroll tbody {
            height: 200px;
            overflow-y: auto;
            overflow-x: auto;
        }

        tbody {
            border-top: 2px solid black;
        }

            tbody td, thead th {
                border-right: 1px solid black;
            }

                tbody td:last-child, thead th:last-child {
                    border-right: none;
                }
    </style>
</head>
<body>
    <div class="container-fluid">
        <br />
        <div id="ui-view" data-select2-id="ui-view">
            <div>
                <div class="card">
                    <div class="card-header">
                        <p class="text-sm">Index Type : @Html.DropDownListFor(model => model.Index_Type, ViewBag.Index as SelectList, new { htmlAttributes = new { @style = "width:15%;margin-left:10%;" } })</p>
                        <p class="text-sm">
                            Voucher No:@Html.EditorFor(model => model.Voucher_No, new { htmlAttributes = new { @style = "width:15%;margin-left:1%;", @readonly = "readonly" } })    Voucher Date :  @Html.TextBoxFor(x => x.Voucher_Date, "{0:yyyy-MM-dd}", new { @type = "date", @style = "width:15%;margin-left:0.25%;", @readonly = "readonly" })
                            Reference No:@Html.EditorFor(model => model.Ref_No, new { htmlAttributes = new { required = "required", style = "margin-left:2%;width:15%;" } })    Reference Date :  @Html.TextBoxFor(x => x.Ref_Date, "{0:yyyy-MM-dd}", new { @type = "date", @style = "width:15%;margin-left:1%;" })
                        </p>
                        <p class="text-sm">
                            Issue/Reason:@Html.DropDownListFor(model => model.GI_Tag, ViewBag.GI as SelectList, new { htmlAttributes = new { @style = "width:15%;margin-left:10%;" } })    Issue/Reason for Process :  @Html.DropDownListFor(model => model.Process_Tag, ViewBag.Process as SelectList, new { htmlAttributes = new { @style = "width:15%;margin-left:10%;" } })
                            Project:@Html.DropDownListFor(model => model.Project, ViewBag.Project as SelectList, new { htmlAttributes = new { @style = "width:15%;margin-left:10%;" } })    Requested By :  @Html.DropDownListFor(model => model.Employee, ViewBag.Employee as SelectList, new { htmlAttributes = new { @style = "width:15%;margin-left:10%;" } })
                        </p>
                        <p class="text-sm">
                            Note : @Html.TextAreaFor(model => model.Note, new { @style = "color:black; width:50%; height:50px;", @placeholder = "Enter your text here", @class = " uppercase" })
                        </p>
                    </div>
                    <div class="card-body table-responsive">
                        <div class="table-responsive">
                            <p class="text-sm">Part No : @Html.EditorFor(model => model.Part_No, new { htmlAttributes = new { @style = "width:15%;margin-right:10%;" } }) Quantity : <input id="Quantity" type="text" style="border: 1px solid gray; margin-right: 5%;" placeholder="Quantity"><button class="btn btn-sm btn-secondary" id="Insert">Insert</button>@*<i class="fa fa-search" id="myBtn" style="margin-right:5%"></i>*@</p><p id="value" class="text-sm" style="width:50%"></p>@Html.DisplayFor(model => model.Part_No)

                            <button class="btn btn-sm btn-secondary float-right" id="Submit" style="width:8%;margin-left:2%;margin-top:30px;">Submit</button>
                            <a id="ToHide" class="btn btn-sm btn-secondary float-right mr-1 d-print-none" style="margin-top: 30px;" href="#" onclick="javascript:window.print();" data-ng-style="true"><i class="fa fa-print"></i> Print</a>
                            <table id="selected_units" class="text-sm font-weight-normal scroll" style="margin-top:10px;">
                                <tbody>
                                    <tr>
                                        <th style="padding-right:100px">Part_No</th>
                                        <th style="padding-right:100px">Description</th>
                                        <th style="padding-right:100px">Quantity</th>
                                        <th style="display:none;">Voucher_No</th>
                                        <th style="display: none;">Voucher_Date</th>
                                        <th style="display:none;">Index_type</th>
                                        <th style="display: none;">Ref_No</th>
                                        <th style="display: none;">Ref_Date</th>
                                        <th style="display: none;">GI_tag</th>
                                        <th style="display: none;">Process_Tag</th>
                                        <th style="display: none;">Project</th>
                                        <th style="display: none;">Employee</th>
                                        <th style="display: none;">Note</th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <p id="voucher" style="background-color:yellow;width:20%"></p>
                <p id="Enter_Inv_No"></p>
                <button class="btn btn-sm btn-secondary" style="width:8%;" id="Edit">@Html.ActionLink("Edit", "Goods_Receipt_Issue_List")</button>
            </div>
        </div>
    </div>
</body>
</html>
<script>
    $('#Insert').click(function () {
        var d1 = $('#Part_No').val();
        var d2 = document.getElementById("Quantity").value;
        var v_no = $('#Voucher_No').val();
        var v_date = $('#Voucher_Date').val();
        var index_type = $('#Index_Type').val();
        var ref_no = $('#Ref_No').val();
        var ref_date = $('#Ref_Date').val();
        var GI = $('#GI_Tag').val();
        var process = $('#Process_Tag').val();
        var project = $('#Project').val();
        var emp = $('#Employee').val();
        var note = $('#Note').val();
        var qty = parseInt(d2);

        var model = new Object();
            model.Part_No = document.getElementById("Part_No").value;

            jQuery.ajax({
            type: "POST",
            url: "@Url.Action("P_to_DQ")",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ name: model }),
                success: function (data) {
                    if (index_type == "2" && qty > data[0].Quantity) {
                        var qty_err = '<p style="color:red;">Out of Stock !!! Available Quantity is <b>' + data[0].Quantity + '</b><p/>';
                        document.getElementById("value").innerHTML = qty_err;
                        return;
                    }
                    else if (d1 == "" && d2 == "") {
                        var qty_err = '<p style="color:red;">Enter Part No and Quantity !!!<p/>';
                        document.getElementById("value").innerHTML = qty_err;
                        return;
                    }
                    else if (d2 == "") {
                        var qty_err = '<p style="color:red;">Enter Quantity !!!<p/>';
                        document.getElementById("value").innerHTML = qty_err;
                        return;
                    }
                    else if (d1 == "") {
                        var qty_err = '<p style="color:red;">Enter Part No !!!<p/>';
                        document.getElementById("value").innerHTML = qty_err;
                        return;
                    }
                    var last_row1 = document.getElementById("selected_units").tBodies[0].rows.length;
                    var l_row1 = last_row1 - 1;
                    var count = 1;
                    for (var i = 0; i < l_row1; i++) {
                        var e_part_no = document.getElementById("selected_units").tBodies[0].rows[count].cells[0].innerHTML;
                        var e_partno = document.getElementById("Part_No").value;
                        if (e_part_no == e_partno) {
                            var qty_err = '<p style="color:red;">Part No is already exists !!!<p/>';
                            document.getElementById("value").innerHTML = qty_err;
                            return;
                        }
                        count++;
                    }
                    var newrow = '<tr id="data"><td>' + d1 + '</td><td>' + data[0].Description + '</td><td>' + qty + '</td><td style="display:none;">' + v_no + '</td><td style="display:none;">' + v_date + '</td><td style="display:none;">' + index_type + '</td><td style="display:none;">' + ref_no + '</td><td style="display:none;">' + ref_date + '</td><td style="display:none;">' + GI + '</td><td style="display:none;">' + process + '</td><td style="display:none;">' + project + '</td><td style="display:none;">' + emp + '</td><td style="display:none;">' + note + '</td></tr>';
                    $('#selected_units tr:last').after(newrow);
            },
            failure: function (errMsg) {
                alert(errMsg);
            }
            });
    });

    function formClear() {
        $("#Quantity").val("");
        $("#Part_No").val("");
        var qty_err = "";
        document.getElementById("value").innerHTML = qty_err;
    }

    $('#Submit').click(function (e) {
        var part = document.getElementById("selected_units").tBodies[0].rows.length;
        var Null = "";
        var ref_no = $('#Ref_No').val();
        if (ref_no == "") {
            document.getElementById("Enter_Inv_No").innerHTML = "Enter Reference No !!!";
            return;
        }
        else if (part == 1) {
            document.getElementById("Enter_Inv_No").innerHTML = "Table is Empty !!!";
            return;
        }
        else {
            document.getElementById("Enter_Inv_No").innerHTML = Null;
            var myRows = [];
            var headersText = [];
            var $headers = $("th");
            var $rows = $("tbody #data").each(function (index) {
                $cells = $(this).find("td");
                myRows[index] = {};

                $cells.each(function (cellIndex) {
                    if (headersText[cellIndex] === undefined) {
                        headersText[cellIndex] = $($headers[cellIndex]).text();
                    }
                    myRows[index][headersText[cellIndex]] = $(this).text();
                });
            });

            var myObj = {
                "myrows": myRows
            };
            $.ajax({
                url: '/NewPurchase/Add_Goods',
                data: JSON.stringify(myRows),
                type: 'POST',
                contentType: 'application/json;',
                dataType: 'json',
                success: function (result) {
                    var data = result;
                    document.getElementById("Voucher_No").innerHTML = data;
                    document.getElementById("Enter_Inv_No").innerHTML = "Submitted Successfully !!!";
                    document.getElementById("voucher").innerHTML = "Your Voucher.No is " + data + "";
                }
            });
            @*document.getElementById("json_op").innerHTML = JSON.stringify(myRows, undefined, 2);*@
        }
    });

    document.addEventListener('keydown', function (event) {
        if (event.keyCode === 9) {

            var model = new Object();
            model.Part_No = document.getElementById("Part_No").value;
            var partno_null = document.getElementById("Part_No").value;
            jQuery.ajax({
            type: "POST",
            url: "@Url.Action("P_to_DQ")",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ name: model }),
                success: function (data) {
                    if (partno_null == "") {
                        var qty_err = '<p style="color:red;">Enter Part No !!!<p/>';
                        document.getElementById("value").innerHTML = qty_err;
                        return;
                    }
                    if (data.length == 0) {
                        var qty_err = '<p style="color:red;">Enter Valid Part No !!!<p/>';
                        document.getElementById("value").innerHTML = qty_err;
                        return;
                    }
                    var descp = data[0].Description;
                    var qty = data[0].Quantity;
                    let QTY = "<b>Qty : "+qty+"</b>"
                    document.getElementById("value").innerHTML = descp + "," + QTY;
            },
            failure: function (errMsg) {
                alert(errMsg);
            }
            });
        }
    });

</script>
