@model Admin.Models.New_Purchase
    @{ 
        var models = ViewBag.PM;
    }
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link rel="stylesheet" href="~/Content/Purchase.css" />
</head>
<body>
    <div class="container-fluid">
        <br />
        <div id="ui-view" data-select2-id="ui-view">
            <div>
                <div class="card">
                    <div class="card-header">
                        <h5>
                            Voucher No:@Html.EditorFor(model => model.Voucher_No, new { htmlAttributes = new { @style = "width:20%;margin-left:1%;" } })    Voucher Date :  @Html.TextBoxFor(x => x.Voucher_Date, "{0:yyyy-MM-dd}", new { @type = "date", @style = "width:20%;margin-left:0.25%;" })
                        </h5>
                        <h5>Invoice No:@Html.EditorFor(model => model.Invoice_No, new { htmlAttributes = new { @class = "uppercase", required = "required", style = "margin-left:2%;width:20%;font-size:18px;", id = "Invoice_No" } })    Invoice Date :  @Html.TextBoxFor(x => x.Invoice_Date, "{0:yyyy-MM-dd}", new { @type = "date", @style = "width:20%;margin-left:1%;" })<a id="ToHide" class="btn btn-sm btn-secondary float-right mr-1 d-print-none" href="#" onclick="javascript:window.print();" data-ng-style="true"><i class="fa fa-print"></i> Print</a></h5>
                        <h5>Supplier:@Html.DropDownListFor(model => model.Supplier, ViewBag.MfdList as SelectList, new { htmlAttributes = new { @style = "width:20%;margin-left:10%;" } })</h5>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <input id="Part_No" type="text" style="border: 1px solid gray;margin-right: 0.5%;" placeholder="Part No"><i class="fa fa-search" id="myBtn" style="margin-right:5%"></i><p id="value" style="width:50%"></p>@Html.DisplayFor(model => model.Part_No)
                            <div>
                                <input id="Quantity" type="text" style="border: 1px solid gray; margin-right: 10%;" placeholder="Quantity">
                                <input id="Purchase_Rate" type="text" style="border: 1px solid gray;" placeholder="Purchase Rate">
                            </div>
                            <div></div>
                            <div>
                                <input id="Discount" type="text" style="border: 1px solid gray; margin-top: 10px; margin-right: 10%;" placeholder="Discount">
                                <input id="Tax_1" type="text" style="border: 1px solid gray; margin-top: 10px; margin-right: 10%;" placeholder="Tax 1">
                                <input id="Tax_2" type="text" style="border: 1px solid gray; margin-top: 10px; margin-right: 10%;" placeholder="Tax 2">
                                <button href="#" class="button" id="Insert">Insert</button>
                            </div>

                            <!-- The Modal -->
                            <!--<div id="myModal" class="modal">-->
                            <!-- Modal content -->
                            <!--<div class="modal-content">
                                <span class="close">&times;</span>
                                @Html.DropDownListFor(model => model.P_Description_DD, ViewBag.ProductList as SelectList, new { htmlAttributes = new { style = "margin-left:1%;width:20%; ", id="MFR" } })
                                <table>
                                    <thead>
                                        <tr>
                                            <th style="text-align:center">Description</th>
                                            <th style="text-align:center">Part No</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            foreach (var doc in models)
                                            {
                                                <tr>
                                                    <td>@doc.P_Description</td>
                                                    <td>@doc.P_Part_No</td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>

                        </div>-->
                            <table id="selected_units" style="margin-top:10px;">
                                <tbody>
                                    <tr>
                                        <th style="padding-right:50px">Part_No</th>
                                        <th style="padding-right:50px">Quantity</th>
                                        <th style="padding-right:50px">Price_Per_Unit</th>
                                        <th style="padding-right:50px">Sub_Total</th>
                                        <th style="padding-right:50px">Discount</th>
                                        <th style="padding-right:50px">Tax1</th>
                                        <th style="padding-right:50px">Tax2</th>
                                        <th style="padding-right:50px">Total</th>
                                        <th style="display:none;">Invoice_No</th>
                                        <th style="display: none;">Invoice_Date</th>
                                        <th style="display:none;">ILedger</th>
                                        <th style="display: none;">ALedger</th>
                                        <th style="display: none;">final_Qty</th>
                                        <th style="display: none;">final_Sub_Total</th>
                                        <th style="display: none;">final_total</th>
                                        <th style="display: none;">supplier</th>
                                    </tr>
                                </tbody>
                            </table>
                            <div>
                                @Html.LabelFor(model => model.Quantity, new { htmlAttributes = new { id = "Qty_Label" } }) : <h6 id="Qty_display"></h6>
                            </div>
                            <div class="float-right">
                                <div>
                                    @Html.LabelFor(model => model.Total, new { htmlAttributes = new { id = "total_Label" } }) : <h6 id="total_display"></h6>
                                </div>
                                <div>
                                    @Html.LabelFor(model => model.Final_Discount) : @Html.EditorFor(model => model.Final_Discount, new { htmlAttributes = new { @id = "Final_Discount" } })
                                </div>
                                <div>
                                    @Html.LabelFor(model => model.Final_Tax1) : @Html.EditorFor(model => model.Final_Tax1, new { htmlAttributes = new { @style = "margin-left:11%;", @id = "Final_Tax1" } })
                                </div>
                                <div>
                                    @Html.LabelFor(model => model.Final_Tax2) : @Html.EditorFor(model => model.Final_Tax2, new { htmlAttributes = new { @style = "margin-left:11%;", @id = "Final_Tax2" } })
                                </div>
                                <div>
                                    @Html.LabelFor(model => model.Final_Total, new { htmlAttributes = new { id = "final_total_Label" } }) : <h6 id="Final_Total" style="margin-left:11%;"></h6>
                                </div>
                            </div>
                            <p id="del"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p id="Enter_Inv_No"></p>
        @Html.ActionLink("Edit", "PurchaseList")<button class="button" id="Submit" style="width:10%;margin-left:2%;">Submit</button>
        <pre id="json_op"></pre>
    </div>
</body>
</html>
<script>
    var qty = 0;
    var total = 0;
    var final_total = 0;
    var i = 1;
    $('#Insert').click(function () {
        var d1 = $('#Part_No').val();
        var d2 = parseInt(document.getElementById("Quantity").value);
        var d3 = $('#Purchase_Rate').val();
        var d4 = $('#Discount').val();
        var d5 = $('#Tax_1').val();
        var d6 = $('#Tax_2').val();
        var mfr = $('#Supplier').val();
        var ILedger = 1;
        var ALedger = 2;

        var subtotal = d2 * d3;
        if (d4 == "") {
            var discount = 0;
        }
        else {
            var discount = (subtotal * d4) / 100;
        }
        if (d5 == "") {
            var tax1 = 0;
        }
        else {
            var tax1 = (subtotal * d5) / 100;
        }
        if (d6 == "") {
            var tax2 = 0;
        }
        else {
            var tax2 = (subtotal * d6) / 100;
        }

        var Invoice_No = $('#Invoice_No').val();
        var Invoice_Date = $('#Invoice_Date').val();
        if (d1 == "" || d2 == "" || d3 == "") {
            document.getElementById("Qty_display").innerHTML = 0;
            document.getElementById("total_display").innerHTML = 0;
        }
        else {
            qty = qty + d2;
            var Total = (subtotal - discount) + tax1 + tax2;
            total = total + Total;
            document.getElementById("Qty_display").innerHTML = qty;
            document.getElementById("total_display").innerHTML = total;
        }
        var final_Qty = document.getElementById("Qty_display").innerHTML;
        var final_Total = document.getElementById("total_display").innerHTML;
        if (d1 == "" || d2 == "" || d3 == "" || Invoice_No == "" || Invoice_Date == "") {
            return;
        }
        else {
            var newrow = '<tr id="data"><td>' + d1 + '</td><td id="Qty' + i + '">' + d2 + '</td><td>' + d3 + '</td><td>' + subtotal + '</td><td>' + discount + '</td><td>' + tax1 + '</td><td>' + tax2 + '</td><td id="total' + i + '">' + Total + '</td><td style="display:none;">' + Invoice_No + '</td><td style="display:none;">' + Invoice_Date + '</td><td style="display:none;">' + ILedger + '</td><td style="display:none;">' + ALedger + '</td><td style="display:none;">' + final_Qty + '</td><td style="display:none;">' + final_Total + '</td><td id="Final_Total_last" style="display:none;"></td><td style="display:none;">' + mfr + '</td></tr>';
            $('#selected_units tr:last').after(newrow);
            i++;
        }
        formClear();
        final_calculation();
    });

    function formClear() {
        $("#Part_No").val("");
        $("#Quantity").val("");
        $("#Purchase_Rate").val("");
        $("#Discount").val("");
        $("#Tax_1").val("");
        $("#Tax_2").val("");
    }

    function final_calculation() {
        var sub_total = document.getElementById("total_display").innerHTML;
        var final_discount = $("#Final_Discount").val();
        var final_tax1 = $("#Final_Tax1").val();
        var final_tax2 = $("#Final_Tax2").val();
        if (final_discount == "") {
            var discount_val = 0;
        }
        else {
            var discount_val = (sub_total * final_discount) / 100;
        }
        if (final_tax1 == "") {
            var tax1_val = 0;
        }
        else {
            var tax1_val = (sub_total * final_tax1) / 100;
        }
        if (final_tax2 == "") {
            var tax2_val = 0;
        }
        else {
            var tax2_val = (sub_total * final_tax2) / 100;
        }
        var Total = (sub_total - discount_val) + tax1_val + tax2_val;
        document.getElementById("Final_Total").innerHTML = Total;
    }
    $('#Submit').click(function (e) {

        var Inv_No = $('#Invoice_No').val();
        if (Inv_No == "") {
            document.getElementById("Enter_Inv_No").innerHTML = "Enter the Invoice No !!!";
            return;
        }
        else {
            document.getElementById("Final_Total_last").innerHTML = document.getElementById("Final_Total").innerHTML;
            $('#Enter_Inv_No').hide();
            var myRows = [];
            var headersText = [];
            var $headers = $("th");
            var $rows = $("tbody #data").each(function (index) {
                $cells = $(this).find("td");
                myRows[index] = {};

                $cells.each(function (cellIndex) {
                    if (headersText[cellIndex] === undefined) {
                        headersText[cellIndex] = $($headers[cellIndex]).text();
                    }
                    myRows[index][headersText[cellIndex]] = $(this).text();
                });
            });

            var myObj = {
                "myrows": myRows
            };
            $.ajax({
                url: '/NewPurchase/Table_Data',
                data: JSON.stringify(myRows),
                type: 'POST',
                contentType: 'application/json;',
                dataType: 'json',
                success: function (result) {
                    //  alert(result.ItemList[0].Str);
                }
            });
            document.getElementById("json_op").innerHTML = JSON.stringify(myRows, undefined, 2);
        }
    });

    @*function del_row(node) {
        r = node.parentNode.parentNode;
        r.parentNode.removeChild(r);
    }*@

    document.addEventListener('keydown', function (event) {
        if (event.keyCode === 9) {

            var model = new Object();
            model.Part_to_Descp = document.getElementById("Part_No").value;

            jQuery.ajax({
            type: "POST",
            url: "@Url.Action("Partno_to_Descp")",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ name: model }),
                success: function (data) {
                    if (data == null) {
                        document.getElementById("value").innerHTML = "Please Enter Valid Part No !!!";
                    }
                    else {
                        document.getElementById("value").innerHTML = data;
                    }
            },
            failure: function (errMsg) {
                alert(errMsg);
            }
            });
        }
    });

    var modal = document.getElementById("myModal");
    var btn = document.getElementById("myBtn");
    var span = document.getElementsByClassName("close")[0];

    btn.onclick = function () {
        modal.style.display = "block";
    }

    span.onclick = function () {
        modal.style.display = "none";
    }

    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>
