@model IEnumerable<Admin.Models.PM_list>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PM_List</title>
    <link rel="stylesheet" href="~/Content/Purchase.css" />
</head>
<body>
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <i class="close">&times;</i>
            <p class="text-sm" style="margin-top:10px;">Choose Part No : @Html.EditorFor(model => model.Part_No, new { htmlAttributes = new { @style = "width:15%;margin-right:1%;", @class = " uppercase" } }) <button id="select_partno" class="btn btn-sm btn-secondary" style="margin-top:25px;margin-left:8%;">Select</button></p>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.P_code)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Part_No)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.P_code)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Part_No)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</body>
</html>
