@model IEnumerable<Admin.Models.PO_List>

@{
    ViewBag.Title = "PO_List";
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PO_No)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PO_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ref_No)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ref_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Supplier)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BillTo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Project)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.PO_No)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PO_Date)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Ref_No)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Ref_Date)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Supplier)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.BillTo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Project)
    </td>
    <td>
        @Html.ActionLink("Edit", "PO_to_EditPurchase", new { po_no = item.PO_No, po_date = item.PO_Date, ref_no = item.Ref_No, ref_date = item.Ref_Date, Supplier = item.Supplier, Billto = item.BillTo, project = item.Project }) |
        @Html.ActionLink("Delete", "PO_Delete", new { po_no = item.PO_No, po_date = item.PO_Date, ref_no = item.Ref_No, ref_date = item.Ref_Date, Supplier = item.Supplier, Billto = item.BillTo, project = item.Project })
    </td>
</tr>
}

</table>
