@model IEnumerable<Admin.Models.PurchaseList>

@{
    ViewBag.Title = "PurchaseList";
    var List = ViewBag.PL;
}
@*
<h2>PurchaseList</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<div style="overflow-y: auto; border-bottom: 1px solid #cacccb; height: 850px;">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Voucher_No)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Voucher_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invoice_No)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invoice_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.A_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Purchase_Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PO_No)
            </th>
            <th style="display:none;">
                @Html.DisplayNameFor(model => model.project)
            </th>
        </tr>

        @foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Voucher_No)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Voucher_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Invoice_No)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Invoice_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.A_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Purchase_Total)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Project)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PO_No)
        </td>
        <td style="display:none;">
            @Html.DisplayFor(modelItem => item.project)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit_Purchase_View", new { v_no = item.Voucher_No, v_date = item.Voucher_Date, inv_no = item.Invoice_No, inv_date = item.Invoice_Date, a_code = item.A_code, data = item.project, po_no = item.PO_No }) | @Html.ActionLink("Delete", "Delete_Purchase_view", new { v_no = item.Voucher_No, v_date = item.Voucher_Date, inv_no = item.Invoice_No, inv_date = item.Invoice_Date, a_code = item.A_code, po_no = item.PO_No })
        </td>
    </tr>
        }

    </table>
</div>
