@model IEnumerable<Admin.Models.Issue>

@{
    ViewBag.Title = "IndentList";
}

@*<h2>IndentList</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IndentNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IndentDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reason)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Process)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Project)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequestBy)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IndentNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IndentDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reason)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Process)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Project)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RequestBy)
        </td>
        <td>
            @Html.ActionLink("Issue", "Indent_to_GoodsIssue", new {  Indent=item.IndentNo, project = item.Project, request = item.RequestBy  })
           @* @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
        </td>
    </tr>
}

</table>
