@model Admin.Models.SignupModel

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/Content/bootstrap-4.0.0.min.css">
    <script src="~/Scripts/bootstrap-4.0.0.bundle.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" href="~/Content/Purchase.css" />
</head>
<body style="background-color: #f5f5f7;">
    <div class="form-horizontal" style="border: 1px solid #F0F3FF; box-sizing: border-box; box-shadow: 0px 10px 20px rgba(198, 198, 198, 0.15); text-align:center; border-radius: 12px; width: 50%; margin: 0% 0% 0% 25%;">
        <br />

        <p>@Html.LabelFor(model => model.DisplayName) &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;: &nbsp; &nbsp; @Html.EditorFor(model => model.DisplayName, new { htmlAttributes = new { @style = "width:200px;" } })</p>
        <p>@Html.LabelFor(model => model.UserName) &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; : &nbsp; &nbsp; @Html.EditorFor(model => model.UserName, new { htmlAttributes = new {  @style = "width:200px;" } })</p>
        <p>@Html.LabelFor(model => model.Password) &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;: &nbsp; &nbsp; @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @style = "width:200px;" } })</p>
        <p>@Html.LabelFor(model => model.Roll) &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;: &nbsp; &nbsp; @Html.DropDownListFor(model => model.Roll, ViewBag.LROLL as SelectList, new { htmlAttributes = new { @style = "width:100px;" } })</p>
        <p>@Html.LabelFor(model => model.Permission_Detail) &nbsp; &nbsp; &nbsp;: &nbsp; &nbsp; View @Html.CheckBoxFor(model => model.View) &nbsp; &nbsp; Add @Html.CheckBoxFor(model => model.Add) &nbsp; &nbsp; Edit @Html.CheckBoxFor(model => model.Edit) &nbsp; &nbsp; Delete @Html.CheckBoxFor(model => model.Delete)</p>
        <p id="message"></p>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button class="btn btn-sm btn-secondary" id="Submit" style="width:75px;margin-left:20%;" onclick="project()">Submit</button>
            </div>
        </div>
    </div>
</body>
</html>
<script>
    function project() {
        var DisplayName = document.getElementById("DisplayName").value;
        var UserName = document.getElementById("UserName").value;
        var Password = document.getElementById("Password").value;
        var Roll = document.getElementById("Roll").value;
        var View = 0;
        var Add = 0;
        var Edit = 0;
        var Delete = 0;
        if ($("#View").is(':checked')) {
            View = 1
        }
        else {
            View = 0
        }
        if ($("#Add").is(':checked')) {
            Add = 2
        }
        else {
            Add = 0
        }
        if ($("#Edit").is(':checked')) {
            Edit = 3
        }
        else {
            Edit = 0
        }
        if ($("#Delete").is(':checked')) {
            Delete = 4
        }
        else {
            Delete = 0
        }
        if (DisplayName == "") {
            var qty_err = '<p style="color:red;">Field Display Name is required !!!<p/>';
            document.getElementById("message").innerHTML = qty_err;
            return;
        }
        if (UserName == "") {
            var qty_err = '<p style="color:red;">Field Username is required !!!<p/>';
            document.getElementById("message").innerHTML = qty_err;
            return;
        }
        if (Password == "") {
            var qty_err = '<p style="color:red;">Field Password is required !!!<p/>';
            document.getElementById("message").innerHTML = qty_err;
            return;
        }

        var model = new Object();
        model.DisplayName = DisplayName;
        model.UserName = UserName;
        model.Password = Password;
        model.Roll = Roll;
        model.View_val = View;
        model.Add_val = Add;
        model.Edit_val = Edit;
        model.Delete_val = Delete;
            $.ajax({
                url: "@Url.Action("Add_UserData")",
                data: JSON.stringify({ name: model }),
                type: 'POST',
                contentType: 'application/json;',
                dataType: 'json',
                success: function (result) {
                        var qty_err = '<p style="color:red;">Submitted Successfully !!!<p/>';
                        document.getElementById("message").innerHTML = qty_err;
                        setTimeout(function () {
                            window.location.reload(1);
                        }, 3000);
                    }
            });
    }
</script>

