@model Admin.Models.PurchaseField
@{ 

}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="~/Content/Purchase.css"/>
<div class="container-fluid">
    @using (Html.BeginForm("Purchase_GetData", "Purchase", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <br />
        <div id="ui-view" data-select2-id="ui-view">
            <div>
                <div class="card">
                    <div class="card-header">
                        <h4>Invoice No:@Html.EditorFor(model => model.Invoice_No, new { htmlAttributes = new { @class = "uppercase", required = "required", style = "margin-left:1%;width:20%;font-size:18px;" } })    Date:@Html.EditorFor(model => model.Invoice_Date, new { htmlAttributes = new { style = "margin-left:1%;width:20%;font-size:16px;" } })</h4>
                        <a id="ToHide"class="btn btn-sm btn-secondary float-right mr-1 d-print-none" href="#" onclick="javascript:window.print();" data-abc="true">
                            <i class="fa fa-print"></i> Print
                        </a>
                    </div>
                    <div class="card-body">
                        <div class="row mb-4">
                            <div class="col-sm-3">
                                <h6 class="mb-3">From:</h6>
                                <div>
                                    <strong>BBBootstrap.com</strong>
                                </div>
                                <div>42, Awesome Enclave</div>
                                <div>New York City, New york, 10394</div>
                                <div>Email: admin@bbbootstrap.com</div>
                                <div>Phone: +48 123 456 789</div>
                            </div>
                            <div class="col-sm-3">
                                <h6 class="mb-3">To:</h6>
                                <div>
                                    <strong>BBBootstrap.com</strong>
                                </div>
                                <div>42, Awesome Enclave</div>
                                <div>New York City, New york, 10394</div>
                                <div>Email: admin@bbbootstrap.com</div>
                                <div>Phone: +48 123 456 789</div>
                            </div>
                            <div class="col-sm-3">
                                @Html.LabelFor(model => model.A_Ledger)
                                @Html.DropDownListFor(model => model.A_Ledger, ViewBag.ALedger as SelectList, new { @class = "form-control uppercase", style = "width:70%;" })
                                <br />
                                @Html.LabelFor(model => model.I_Ledger)
                                @Html.DropDownListFor(model => model.I_Ledger, ViewBag.ILedger as SelectList, new { @class = "form-control uppercase", style = "width:70%;", id="a"})
                                <br />
                            </div>
                            <div id="b">
                                <br />
                                <br />
                                <br />
                                <br />
                                @*@Html.LabelFor(m => m.Reason_Tag)
                                @Html.DropDownListFor(m => m.Reason_Tag, ViewBag.Reason_Tag as SelectList, new { @class = "form-control uppercase", style = "width:80%;"})*@
                            </div>
                        </div>
                        <div class="table-responsive-sm">
                            <table class="table table-striped" id="ToHide">
                                <tr>
                                    <td style="border-top:none;">@Html.LabelFor(model => model.Part_No)@Html.EditorFor(model => model.Part_No, new { htmlAttributes = new { @class = "uppercase", style = "margin-left:6%;width:60%;" } })</td>
                                    <td style="border-top:none;" class="col-sm-3">@Html.LabelFor(model => model.A_Name)@Html.EditorFor(model => model.A_Name, new { htmlAttributes = new { @class = "uppercase", style = "margin-left:2%;width:50%;" } })</td>
                                    <td class="col-sm-3" style="border-top:none;">@Html.LabelFor(model => model.P_Qty)@Html.EditorFor(model => model.P_Qty, new { htmlAttributes = new { @class = "uppercase", style = "margin-left:2%;width:50%;" } })</td>
                                    <td style="border-top:none;" class="col-sm-3">@Html.LabelFor(model => model.P_Rate)@Html.EditorFor(model => model.P_Rate, new { htmlAttributes = new { @class = "uppercase", style = "margin-left:2%;width:40%;"} })</td>

                                </tr>
                                <!--For Manual Entry of Discount, Tax1, Tax2-->
                                <tr>
                                    <td style="border-top:none;">@Html.LabelFor(model => model.I_Discount)@Html.EditorFor(model => model.I_Discount, new { htmlAttributes = new { @class = "uppercase", style = "margin-left:2.5%;width:60%;" } })</td>
                                    <td style="border-top:none;" class="col-sm-3">@Html.LabelFor(model => model.I_Tax1)@Html.EditorFor(model => model.I_Tax1, new { htmlAttributes = new { @class = "uppercase", style = "margin-left:32%;width:50%;" } })</td>
                                    <td class="col-sm-3" style="border-top:none;">@Html.LabelFor(model => model.I_Tax2)@Html.EditorFor(model => model.I_Tax2, new { htmlAttributes = new { @class = "uppercase", style = "margin-left:13%;width:50%;" } })</td>
                                    <td style="border-top:none;"><input type="submit" value="Insert"></td>
                                </tr>
                            </table>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th><strong>Part No</strong></th>
                                        <th class="text-center"><strong>Account</strong></th>
                                        <th class="text-center"><strong>Quantity</strong></th>
                                        <th class="text-center"><strong>Rate Per Unit</strong></th>
                                        <th class="text-right"><strong>Taxable Total</strong></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        foreach (var item in ViewBag.item)
                                        {
                                            <tr>
                                                <td>@item.Part_No</td>
                                                <td class="text-center">@item.A_Name</td>
                                                <td class="text-center">@item.P_Qty</td>
                                                <td class="text-center">@item.P_Rate</td>
                                                <td class="text-right">@item.I_Total</td>
                                            </tr>
                                        }
                                    }
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td class="text-left">
                                            <strong>
                                                Total Qty:
                                                @{
                                                    if (ViewBag.item.Count != 0)
                                                    {
                                                        int i = ViewBag.i;
                                                        @ViewBag.item[i].Total_Qty
                                                    }
                                                }
                                            </strong>
                                        </td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <!--paragraph field-->
                            <div class="col-lg-4 col-sm-5"></div>
                            <div class="col-lg-4 col-sm-5 ml-auto">
                                <table class="table table-clear">
                                    <tbody>
                                        <tr>
                                            <td class="left">
                                                <strong>Subtotal</strong>
                                            </td>
                                            <td class="right">
                                                @{
                                                    if (ViewBag.item.Count != 0)
                                                    {
                                                        int i = ViewBag.i;
                                                        @ViewBag.item[i].P_Sub_Total
                                                    }
                                            }
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="left">
                                            <strong>Discount (10%)</strong>
                                        </td>
                                        <td class="right">
                                            @{
                                                if (ViewBag.item.Count != 0)
                                                {
                                                    int i = ViewBag.i;
                                                    @ViewBag.item[i].P_Discount
                                                }
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td class="left">
                                        <strong>Tax 1(2.5%)</strong>
                                    </td>
                                    <td class="right">
                                        @{
                                            if (ViewBag.item.Count != 0)
                                            {
                                                int i = ViewBag.i;
                                                @ViewBag.item[i].P_Tax1
                                            }
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td class="left">
                                    <strong>Tax 2(2.5%)</strong>
                                </td>
                                <td class="right">
                                    @{
                                        if (ViewBag.item.Count != 0)
                                        {
                                            int i = ViewBag.i;
                                            @ViewBag.item[i].P_Tax2
                                        }
                                    }
                            </td>
                        </tr>
                        <tr>
                            <td class="left">
                                <strong>Total</strong>
                            </td>
                            <td class="right">
                                <strong>
                                    @{
                                        if (ViewBag.item.Count != 0)
                                        {
                                            int i = ViewBag.i;
                                            @ViewBag.item[i].Total
                                        }
                                    }
                                </strong>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
</div>
}
    @using (Html.BeginForm("Purchase_Insert", "Purchase", FormMethod.Post))
    {
        <div class="text-danger" style="text-align:center;">
            @ViewBag.Purchase
        </div>
        <div>
            <div class="col-md-6" id="ToHide">
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        </div>
        <br />
    }
</div>
<script>
    var dropdown = $("#a option:selected").text();
    document.getElementById("b").innerHTML = dropdown;
</script>