@model Admin.Models.PurchaseField

@{
}
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="~/Content/Purchase.css" rel="stylesheet">

<div class="container">
    <br />
    @using (Html.BeginForm("Purchase_GetData", "Purchase", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-xs-12">
                <div class="invoice-title">
                    <h3>Invoice No:@Html.EditorFor(model => model.Invoice_No, new { htmlAttributes = new { @class = "uppercase", required = "required", style = "margin-left:2%;width:50%;" } })</h3><h3 class="pull-right">Date:@Html.EditorFor(model => model.Invoice_Date, new { htmlAttributes = new { style = "margin-left:2%;width:70%;font-size:16px;" } })</h3>
                </div>
                <hr />
                <div class="row">
                    <div class="col-sm-3">
                        <address>
                            <strong>Billed To:</strong><br>
                            John Smith<br>
                            1234 Main<br>
                            Apt. 4B<br>
                            Springfield, ST 54321
                        </address>
                    </div>
                    <div class="col-sm-3">
                        <address>
                            <strong>Shipped To:</strong><br>
                            Jane Smith<br>
                            1234 Main<br>
                            Apt. 4B<br>
                            Springfield, ST 54321
                        </address>
                    </div>
                    <div class="col-sm-3">
                        <address>
                            <strong>Payment Method:</strong><br>
                            Visa ending **** 4242<br>
                            jsmith@email.com
                        </address>
                    </div>
                    <div>
                        @Html.LabelFor(model => model.I_Ledger)
                        @Html.DropDownListFor(model => model.I_Ledger, ViewBag.ILedger as SelectList, new { @class = "form-control uppercase" })
                        <br />
                        @Html.LabelFor(model => model.A_Ledger)
                        @Html.DropDownListFor(model => model.A_Ledger, ViewBag.ALedger as SelectList, new { @class = "form-control uppercase" })
                        <br />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong>Order summary</strong></h3>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-condensed" id="ToHide">
                                <tr>
                                    <td style="border-top:none;">@Html.LabelFor(model => model.Part_No)@Html.EditorFor(model => model.Part_No, new { htmlAttributes = new { @class = "uppercase", style = "margin-left:6%;width:70%;" } })</td>
                                    <td style="border-top:none;" class="col-sm-3">@Html.LabelFor(model => model.A_Name)@Html.EditorFor(model => model.A_Name, new { htmlAttributes = new { @class = "uppercase", style = "margin-left:2%;width:50%;" } })</td>
                                    <td class="col-sm-3" style="border-top:none;">@Html.LabelFor(model => model.P_Qty)@Html.EditorFor(model => model.P_Qty, new { htmlAttributes = new { @class = "uppercase", style = "margin-left:2%;width:50%;" } })</td>
                                    <td style="border-top:none;" class="col-sm-3">@Html.LabelFor(model => model.P_Rate)@Html.EditorFor(model => model.P_Rate, new { htmlAttributes = new { @class = "uppercase", style = "margin-left:2%;width:40%;" } })</td>
                                    
                                </tr>
                                <!--For Manual Entry of Discount, Tax1, Tax2-->
                                <tr>
                                    <td style="border-top:none;">@Html.LabelFor(model => model.I_Discount)@Html.EditorFor(model => model.I_Discount, new { htmlAttributes = new { @class = "uppercase", style = "margin-left:2%;width:70%;" } })</td>
                                    <td style="border-top:none;" class="col-sm-3">@Html.LabelFor(model => model.I_Tax1)@Html.EditorFor(model => model.I_Tax1, new { htmlAttributes = new { @class = "uppercase", style = "margin-left:26.5%;width:50%;" } })</td>
                                    <td class="col-sm-3" style="border-top:none;">@Html.LabelFor(model => model.I_Tax2)@Html.EditorFor(model => model.I_Tax2, new { htmlAttributes = new { @class = "uppercase", style = "margin-left:10.5%;width:50%;" } })</td>
                                    <td style="border-top:none;"><input type="submit" value="Insert"></td>
                                </tr>
                            </table>
                            <table class="table table-condensed">
                                <thead style="background-color: darkgray;">
                                    <tr>
                                        <td><strong>Part No</strong></td>
                                        <td class="text-center"><strong>Account</strong></td>
                                        <td class="text-center"><strong>Quantity</strong></td>
                                        <td class="text-center"><strong>Rate Per Unit</strong></td>
                                        <td class="text-right"><strong>Taxable Total</strong></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        foreach (var item in ViewBag.item)
                                        {
                                            <tr>
                                                <td>@item.Part_No</td>
                                                <td class="text-center">@item.A_Name</td>
                                                <td class="text-center">@item.P_Qty</td>
                                                <td class="text-center">@item.P_Rate</td>
                                                <td class="text-right">@item.I_Total</td>
                                            </tr>
                                        }
                                    }
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td class="text-left">
                                            <strong>
                                                Total Qty:
                                                @{
                                                    if (ViewBag.item.Count != 0)
                                                    {
                                                        int i = ViewBag.i;
                                                        @ViewBag.item[i].Total_Qty
                                                    }
                                                }
                                            </strong>
                                        </td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td class="thick-line"></td>
                                        <td class="thick-line"></td>
                                        <td class="thick-line"></td>
                                        <td class="thick-line text-right"><strong>Subtotal</strong></td>
                                        <td class="thick-line text-right">
                                            @{
                                                if (ViewBag.item.Count != 0)
                                                {
                                                    int i = ViewBag.i;
                                                    @ViewBag.item[i].P_Sub_Total
                                                }
                                            }
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="no-line"></td>
                                        <td class="no-line"></td>
                                        <td class="no-line"></td>
                                        <td class="no-line text-right"><strong>Discount (10%)</strong></td>
                                        <td class="no-line text-right">
                                            @{
                                                if (ViewBag.item.Count != 0)
                                                {
                                                    int i = ViewBag.i;
                                                    @ViewBag.item[i].P_Discount
                                                }
                                            }
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="no-line"></td>
                                        <td class="no-line"></td>
                                        <td class="no-line"></td>
                                        <td class="no-line text-right"><strong>Tax 1 (2.5%)</strong></td>
                                        <td class="no-line text-right">
                                            @{
                                                if (ViewBag.item.Count != 0)
                                                {
                                                    int i = ViewBag.i;
                                                    @ViewBag.item[i].P_Tax1
                                                }
                                            }
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="no-line"></td>
                                        <td class="no-line"></td>
                                        <td class="no-line"></td>
                                        <td class="no-line text-right"><strong>Tax 2 (2.5%)</strong></td>
                                        <td class="no-line text-right">
                                            @{
                                                if (ViewBag.item.Count != 0)
                                                {
                                                    int i = ViewBag.i;
                                                    @ViewBag.item[i].P_Tax2
                                                }
                                            }
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="no-line"></td>
                                        <td class="no-line"></td>
                                        <td class="no-line"></td>
                                        <td class="no-line text-right"><strong>Total</strong></td>
                                        <td class="no-line text-right">
                                            @{
                                                if (ViewBag.item.Count != 0)
                                                {
                                                    int i = ViewBag.i;
                                                    @ViewBag.item[i].Total
                                                }
                                            }
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    @using (Html.BeginForm("Purchase_Insert", "Purchase", FormMethod.Post))
    {
        <div class="text-danger" style="text-align:center;">
            @ViewBag.Purchase
        </div>
        <div>
            <div class="col-md-6" id="ToHide">
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        </div>
        <br />
    }
</div>