@model Admin.Models.PurchaseField
@{

}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="~/Content/Purchase.css" />
<div class="container-fluid">
    @using (Html.BeginForm("Purchase_GetData", "Purchase", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <br />
        <div id="ui-view" data-select2-id="ui-view">
            <div>
                <div class="card">
                    <div class="card-header">
                        <h4>Invoice No:@Html.EditorFor(model => model.Invoice_No, new { htmlAttributes = new { @class = "uppercase", required = "required", style = "margin-left:1%;width:20%;font-size:18px;" } })    Date:@Html.EditorFor(model => model.Invoice_Date, new { htmlAttributes = new { style = "margin-left:1%;width:20%;font-size:16px;" } })</h4>
                        <a id="ToHide" class="btn btn-sm btn-secondary float-right mr-1 d-print-none" href="#" onclick="javascript:window.print();" data-abc="true">
                            <i class="fa fa-print"></i> Print
                        </a>
                        <br />
                        <table>
                            <tr>
                                <td><h6>Manufacturer : </h6></td>
                                <td>@Html.DropDownListFor(model => model.A_Name, ViewBag.MfdList as SelectList, new { htmlAttributes = new { @class = "form-control uppercase", style = "margin-left:10%;width:87%;", @id = "MFR" } })</td>
                                <td id="value"></td>
                            </tr>
                        </table>
                    </div>
                    <div class="card-body">

                        <div class="table-responsive-sm">
                            <table class="table table-striped" id="ToHide">
                                <tr>
                                    <td style="border-top:none;">@Html.LabelFor(model => model.Part_No)@Html.EditorFor(model => model.Part_No, new { htmlAttributes = new { @class = "uppercase", style = "margin-left:4.5%;width:50%;" } })</td>
                                    <td class="col-sm-3" style="border-top:none;">@Html.LabelFor(model => model.P_Qty)@Html.EditorFor(model => model.P_Qty, new { htmlAttributes = new { @class = "uppercase", style = "margin-left:2%;width:50%;" } })</td>
                                    <td style="border-top:none;" class="col-sm-3">@Html.LabelFor(model => model.P_Rate)@Html.EditorFor(model => model.P_Rate, new { htmlAttributes = new { @class = "uppercase", style = "margin-left:2%;width:50%;" } })</td>

                                </tr>
                                <!--For Manual Entry of Discount, Tax1, Tax2-->
                                <tr>
                                    <td style="border-top:none;">@Html.LabelFor(model => model.I_Discount)@Html.EditorFor(model => model.I_Discount, new { htmlAttributes = new { @class = "uppercase", style = "margin-left:2.5%;width:50%;" } })</td>
                                    <td style="border-top:none;" class="col-sm-3">@Html.LabelFor(model => model.I_Tax1)@Html.EditorFor(model => model.I_Tax1, new { htmlAttributes = new { @class = "uppercase", style = "margin-left:12.5%;width:50%;" } })</td>
                                    <td class="col-sm-3" style="border-top:none;">@Html.LabelFor(model => model.I_Tax2)@Html.EditorFor(model => model.I_Tax2, new { htmlAttributes = new { @class = "uppercase", style = "margin-left:30%;width:50%;" } })</td>
                                    <td style="border-top: none; padding-left: 2.5%;"><input type="submit" value="Insert"></td>
                                </tr>
                            </table>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th><strong>Part No</strong></th>
                                        <th class="text-center"><strong>Quantity</strong></th>
                                        <th class="text-center"><strong>Rate Per Unit</strong></th>
                                        <th class="text-right"><strong>Taxable Total</strong></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        foreach (var item in ViewBag.item)
                                        {
                                            <tr>
                                                <td>@item.Part_No</td>
                                                <td class="text-center">@item.P_Qty</td>
                                                <td class="text-center">@item.P_Rate</td>
                                                <td class="text-right">@item.I_Total</td>
                                            </tr>
                                        }
                                    }
                                    <tr style="background-color: #c4c2c2;">
                                        <td></td>
                                        <td></td>
                                        <td class="text-left">
                                            <strong>
                                                Total Qty:
                                                @{
                                                    if (ViewBag.item.Count != 0)
                                                    {
                                                        int i = ViewBag.i;
                                                        @ViewBag.item[i].Total_Qty
                                                    }
                                                }
                                            </strong>
                                        </td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <!--paragraph field-->
                            <div class="col-lg-4 col-sm-5"></div>
                            <div class="col-lg-4 col-sm-5 ml-auto">
                                <table class="table table-clear">
                                    <tbody>
                                        @*<tr>
                                                                <td class="left">
                                                                    <strong>Subtotal</strong>
                                                                </td>
                                                                <td class="right">
                                                                    @{
                                                                        if (ViewBag.item.Count != 0)
                                                                        {
                                                                            int i = ViewBag.i;
                                                                            @ViewBag.item[i].P_Sub_Total
                                                                        }
                                                                }
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="left">
                                                                <strong>Discount (10%)</strong>
                                                            </td>
                                                            <td class="right">
                                                                @{
                                                                    if (ViewBag.item.Count != 0)
                                                                    {
                                                                        int i = ViewBag.i;
                                                                        @ViewBag.item[i].P_Discount
                                                                    }
                                                            }
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="left">
                                                            <strong>Tax 1(2.5%)</strong>
                                                        </td>
                                                        <td class="right">
                                                            @{
                                                                if (ViewBag.item.Count != 0)
                                                                {
                                                                    int i = ViewBag.i;
                                                                    @ViewBag.item[i].P_Tax1
                                                                }
                                                        }
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="left">
                                                        <strong>Tax 2(2.5%)</strong>
                                                    </td>
                                                    <td class="right">
                                                        @{
                                                            if (ViewBag.item.Count != 0)
                                                            {
                                                                int i = ViewBag.i;
                                                                @ViewBag.item[i].P_Tax2
                                                            }
                                                        }
                                                </td>
                                            </tr>*@
                                        <tr>
                                            <td class="center">
                                                <strong>Total</strong>
                                            </td>
                                            <td class="center">
                                                <strong>
                                                    @{
                                                        if (ViewBag.item.Count != 0)
                                                        {
                                                            int i = ViewBag.i;
                                                            @ViewBag.item[i].Total
                                                        }
                                                    }
                                                </strong>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    @using (Html.BeginForm("Purchase_Insert", "Purchase", FormMethod.Post))
    {
        <div class="text-danger" style="text-align:center;">
            @ViewBag.Purchase
        </div>
        <div>
            <div class="col-md-6" id="ToHide">
                <input type="submit" value="Submit" class="btn btn-default" style="background-color:darkgrey;" />
            </div>
        </div>
        <br />
    }
</div>
<script>
    document.addEventListener('keydown', function (event) {
        if (event.keyCode === 9) {

            var model = new Object();
            model.Address = document.getElementById("MFR").value;

            jQuery.ajax({
            type: "POST",
            url: "@Url.Action("Mfr_to_Addr")",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ name: model }),
                success: function (data) {
                    document.getElementById("value").innerHTML = data;
            },
            failure: function (errMsg) {
                alert(errMsg);
            }
            });
        }
    });
</script>