@model Admin.Models.Price_List

@{
    ViewBag.Title = "Price_Update";
}
<style>
    .uppercase {
        text-transform: uppercase;
    }
</style>
<body>
    <div style="margin-left:10%;">
        <br />
        <br />
        <br />
        <div>
            <p>Part No &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp: &nbsp &nbsp @Html.EditorFor(model => model.Part_No, new { htmlAttributes = new { @class = "uppercase", style = "width:15%", @id = "part_no", required = "required" } })</p>
            <p id="value" style="width:50%; margin-left:1%"></p>
            <p>Cost (.Rs) &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp : &nbsp &nbsp @Html.EditorFor(model => model.P_Cost, new { htmlAttributes = new { @class = "", style = "width:15%", required = "required" } })</p>
            <p>USD ($) &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp : &nbsp &nbsp @Html.EditorFor(model => model.P_Price_USD, new { htmlAttributes = new { @class = "", style = "width:15%" } })</p>
            <p>MRP (.Rs) &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp : &nbsp &nbsp @Html.EditorFor(model => model.P_MRP, new { htmlAttributes = new { @class = "", style = "width:15%" } })</p>
            <p>Sell Price (.Rs) &nbsp &nbsp &nbsp : &nbsp &nbsp @Html.EditorFor(model => model.P_SP, new { htmlAttributes = new { @class = "", style = "width:15%" } })</p>
        </div>
        <div>
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-sm btn-secondary" />
            </div>
        </div>
    </div>
</body>
<script>
    document.addEventListener('keydown', function (event) {
        if (event.keyCode === 9) {

            var model = new Object();
            model.Part_No = document.getElementById("part_no").value;

            jQuery.ajax({
            type: "POST",
            url: "@Url.Action("Partno_to_Descp")",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ name: model }),
                success: function (data) {
                    document.getElementById("value").innerHTML = data;
            },
            failure: function (errMsg) {
                alert(errMsg);
            }
            });
        }
    });
</script>

