@model Admin.Models.Price_List
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/Content/Purchase.css" />
    <style>
        .modal-content {
            width: 30%;
        }
    </style>
</head>
<body style="background-color: #f5f5f7;">
    <p class="text-sm" style="margin-top:10px;text-align:center;"> Package : @Html.EditorFor(model => model.Package_letter, new { htmlAttributes = new { @style = "width:12%;margin-right:1%;", @class = " uppercase" } }) Value : @Html.EditorFor(model => model.Value_letter, new { htmlAttributes = new { @style = "width:12%;margin-right:1%;", @class = " uppercase" } }) Part No : @Html.EditorFor(model => model.Partno_letter, new { htmlAttributes = new { @style = "width:12%;margin-right:1%;", @class = " uppercase" } }) Description : @Html.EditorFor(model => model.Descp_letter, new { htmlAttributes = new { @style = "width:12%;margin-right:1%;", @class = " uppercase" } })</p>

    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <i class="close">&times;</i>
            <p>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp Part No &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp: &nbsp &nbsp @Html.EditorFor(model => model.Part_No, new { htmlAttributes = new { @class = "uppercase", style = "width:200px" } })</p>
            <p id="value" style="width:400px; margin-left:7%"></p>
            <p>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp Cost (.Rs) &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp : &nbsp &nbsp @Html.EditorFor(model => model.P_Cost, new { htmlAttributes = new { @class = "", style = "width:200px" } })</p>
            <p>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp USD ($) &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp : &nbsp &nbsp @Html.EditorFor(model => model.P_Price_USD, new { htmlAttributes = new { @class = "", style = "width:200px" } })</p>
            <p>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp MRP (.Rs) &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp : &nbsp &nbsp @Html.EditorFor(model => model.P_MRP, new { htmlAttributes = new { @class = "", style = "width:200px" } })</p>
            <p>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp Sell Price (.Rs) &nbsp &nbsp &nbsp : &nbsp &nbsp @Html.EditorFor(model => model.P_SP, new { htmlAttributes = new { @class = "", style = "width:200px" } })</p>
            <p>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp Stock &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp: &nbsp &nbsp @Html.EditorFor(model => model.Stock, new { htmlAttributes = new { @class = "", style = "width:200px" } })</p>
            <p id="success" style="text-align:center;"></p>
            <div class="col-md-offset-2 col-md-10" style="margin-left:200px">
                <input type="submit" value="Save" class="btn btn-sm btn-secondary" onclick="Price_to_DB();" />
            </div>
        </div>
    </div>

    <table class="table text-sm" id="pm_list">
        <tbody>
            <tr>
                <th>
                    Product Code
                </th>
                <th>
                    Package
                </th>
                <th>
                    Value
                </th>
                <th>
                    Part No
                </th>
                <th>
                    Description
                </th>
                <th>
                    Stock
                </th>
                <th>
                    Cost
                </th>
                <th>
                    MRP
                </th>
                <th></th>
            </tr>
        </tbody>
    </table>
</body>
</html>
<script>
        document.addEventListener("keyup", function (event) {
            var package = document.querySelector("#Package_letter").value;
            var value = document.querySelector("#Value_letter").value;
            var partno = document.querySelector("#Partno_letter").value;
            var descp = document.querySelector("#Descp_letter").value;
            var model = new Object();
            model.Package_letter = package;
            model.Value_letter = value;
            model.Partno_letter = partno;
            model.Descp_letter = descp;
            $.ajax({
                url: '/Price/List_Update',
                data: JSON.stringify({ name: model }),
                type: 'POST',
                contentType: 'application/json;',
                dataType: 'json',
                success: function (result) {
                    $("#pm_list").find("tr:not(:first)").remove();
                    for (var i = 0; i <= result.length - 1; i++) {
                        var newrow = '<tr id="list"><td>' + result[i].P_code + '</td><td>' + result[i].Package + '</td><td>' + result[i].Value + '</td><td>' + result[i].Part_No + '</td><td>' + result[i].Description + '</td><td>' + result[i].Current_Stock + '</td><td style="text-align:right">' + result[i].P_Cost + '</td><td style="text-align:right">' + result[i].P_MRP + '</td><td><i class="fa fa-plus" style="margin-right:0.5%; margin-left:0.5;" onclick="List_to_View();" ></i></td></tr>';
                        $('#pm_list tr:last').after(newrow);
                    }
                }
            });
        })

    function List_to_View() {
        var table = document.getElementById('pm_list');
        for (var i = 0; i < table.rows.length; i++) {
            table.rows[i].addEventListener('click', function () {
                var partno = this.cells[3].innerHTML;
                var descp = this.cells[4].innerHTML;
                var cost = this.cells[6].innerHTML;
                var mrp = this.cells[7].innerHTML;
                var qty = this.cells[5].innerHTML;
                modal.style.display = "block";
                document.getElementById("Part_No").value = partno;
                document.getElementById("value").innerHTML = descp;
                document.getElementById("P_Cost").value = cost;
                document.getElementById("P_MRP").value = mrp;
                document.getElementById("Stock").value = qty;
            });
        }
    }

    var modal = document.getElementById("myModal");
    var span = document.getElementsByClassName("close")[0];

    span.onclick = function () {
        qty_err = "";
        document.getElementById("success").innerHTML = qty_err;
        modal.style.display = "none";
    }
    window.onclick = function (event) {
        if (event.target == modal) {
            qty_err = "";
            document.getElementById("success").innerHTML = qty_err;
            modal.style.display = "none";
        }
    }

    function Price_to_DB() {
        var partno = document.getElementById("Part_No").value;
        var cost = document.getElementById("P_Cost").value;
        var usd = document.getElementById("P_Price_USD").value;
        var sp = document.getElementById("P_SP").value;
        var mrp = document.getElementById("P_MRP").value;
        var qty = document.getElementById("Stock").value;

        var model = new Object();
        model.Part_No = partno;
        model.P_Cost = cost;
        model.P_Price_USD = usd;
        model.P_SP = sp;
        model.P_MRP = mrp;
        model.Stock = qty;
        $.ajax({
            url: '/Price/Price_Insert',
            data: JSON.stringify({ name: model }),
            type: 'POST',
            contentType: 'application/json;',
            dataType: 'json',
            success: function (result) {
                var qty_err = '<p style="color:red;">Price Updated Successfully !!!<p/>';
                document.getElementById("success").innerHTML = qty_err;
                setTimeout(function () {
                    window.location.reload(1);
                }, 3000);
            }
        });
    }
</script>
